[2014-01-10 02:39] BHSPitMonkey opened #1 "Debian postinst script still not robust"
After having tried to install 0.2.2ppa8.deb yesterday (before the fixes were pushed out), I attempted to apt-get purge the package and try it again today (ppa11). With some parts of the filesystem not left exactly as the script expects, it fails unnecessarily:

[code]

[2014-08-15 19:00] mistydemeo commented on #1
Sorry for the radio silence here, but: this is fixed in the `dev/issue-xxxx-packaging` branch, which will be merged in preparation for the upcoming 0.4.0 release. This bug shouldn't affect future Storage Service versions.

Sorry for all the inconvenience this caused - I'm aware the `postinst` issue was a major pain.

[2014-08-15 19:29] BHSPitMonkey commented on #1
Thanks for the update.

[2014-08-15 19:29] #1 closed, assigned to nobody

[2016-02-17 13:00] grharry opened #111 "sword api bug ??"
Hello!

I think I spoted a bug in the communication between islandora/archidora and archivematica sword api

I am getting an error and storage-service compaints when:
a) any field in dc:title???? ???? ????: subtitle/dc:title contains NON-Latin characters!
b) or/and a filename of the deposited package also contains Non latin chars   ( ie: αβγπφ )

here is the output of my log

ERROR     2016-02-17

[2016-04-12 15:23] orzel opened #120 "missing migration on qa/0.8.x"
After cloning the qa/0.8.x branch, without any local modification.

./manage.py check is going fine
./manage.py runserver tells me : You have unapplied migrations; your app may not work properly until they are applied.

if i do "makemigrations", i have the following migration created, which looks very minor to me:
class Migration(migrations.Migration):

[code]

[2016-04-12 18:08] sevein commented on #120
Hi @orzel,

I didn't have much luck trying to reproduce the problem that you are reporting. Using `qa/0.8.x` here (038814b8a6c69eaaadf45e44cd5793243789a707) I deleted my database (`sudo rm /var/archivematica/storage-service/storage.db`). Next I executed `storage_service/manage.py runserver` and saw the same error:

[code]

`storage_service/manage.py runserver` returned `No changes detected`.<br />

[2016-04-14 19:29] sevein commented on #120
Don't hesitate to write us if the problem persists, we could reopen it.

[2016-04-19 14:45] orzel commented on #120
As said, the problem is NOT mentionned in the output of "./manage.py check". Only runserver will show it I think, and maybe even not always.

Here's how to reproduce it, starting from a clean directory (/tmp for example):

[code]

This command would not do/create anything in case migrations and models are coherent / synchronized. But in this case, you should have a migration that looks like

[code

[2016-04-22 00:36] Hwesta commented on #120
I was able to reproduce the problem, though the migration I got was slightly different. Maybe we have different versions of the django_extensions dependency (1.1.1 in base.txt)?

[code]

I made a branch to test the fix `dev/issue-xxxx-migrations-fix` #121  Do you still have the problem there?

[2016-04-26 00:23] sevein commented on #120
I see it now!

`cat storage_service/locations/migrations/0005_auto_20160425_1722.py`

[code]

[2016-05-05 23:01] Hwesta commented on #120
This was fixed in #121

[2016-05-05 23:01] #120 closed, assigned to nobody

[2017-04-02 16:03] sevein opened #178 "Problem: this repo uses git submodules"
See https://github.com/artefactual/archivematica/issues/585.

[2017-04-03 18:55] sevein opened #179 "Problem: DJANGO_STATIC_ROOT is unused"
There are two files that make use of `DJANGO_STATIC_ROOT`:

[code]

But it's not looked up from our settings, i.e. `storage_service/storage_service/settings/base.py` reads:

[code]

I think we should update the files under `install/` to stop using it.

[2017-04-03 19:37] sevein opened #180 "Problem: CSS files reference to files which cannot be found"
For example:
- `css/jquery.dataTables.css` uses `images/back_enabled.png`
- `css/backbone-file-explorer.css` uses `img/folderopen.png`

There are more.

[2017-04-03 19:38] sevein commented on #180
This is problematic when using WhiteNoise, i.e. makes `collecstatic` break.

[2017-04-03 21:14] sevein opened #181 "Problem: we're using synchronous workers"
This is a big issue when SS is doing I/O bound work because the workers block and wait instead of working on other requests.

I suggest to use `gevent` (add `gevent==1.2.1` in requirements) and run Gunicorn with `--worker-class  gevent`. It has to be tested.

[2017-04-03 23:00] sevein opened #182 "Problem: migrate should not create default user"
Instead, I think we can add a task that enables the operator to add a user as desired.

[2017-04-07 22:57] qubot opened #183 "Problem: default osdeps file for RedHat causes fail during ss-osdeps playbook on RHEL"
Currently in osdeps/, RedHat-7.json is a symlink to CentOS-7.json, which is logical. However this causes a problem with a ansible playbook in the role archivematica-src; ss-osdeps.yml fails out when doing a stat on said file (the one looked for if ansible_distribution = "RedHat") and 'isreg' (regular file rather than a symlink) returns false.

One obvious solution is to also make RedHat-7.json a r

[2017-04-07 23:10] hakamine commented on #183
I think the problem could be solved without replacing the symlinks by modifying the role task here:
https://github.com/artefactual-labs/ansible-archivematica-src/blob/stable/1.6.x/tasks/ss-osdeps.yml#L24  ( using stat.exists instead of stat.isreg )

[2017-04-07 23:26] hakamine commented on #183
https://github.com/artefactual-labs/ansible-archivematica-src/pull/107

[2017-04-08 13:53] sevein opened #184 "Problem: SQLite is the only db backend supported (not distributed)"
In many situations it's desirable to use a distributed RDBMS like MySQL or PostgreSQL. There's probably not much stopping us from supporting them other than the limitations in our configuration system.

**Solution**

SQLite will stay as the default backend until a new major version of SS is released.

**Option 1:** add a new `SS_DB_ENGINE` environment variable. We would document which values are s

[2017-04-10 17:22] hakamine commented on #183
Fix committed to the ansible repository, closing.

[2017-04-10 17:22] #183 closed, assigned to hakamine

[2017-04-15 16:49] sevein commented on #181
If we move to `gevent` we'll also need a connection pool, more details here: https://goo.gl/fX7EUd.

[2017-05-10 19:31] sevein opened #186 "Problem: bag processes setting is not configurable"
See #177 for more details.

We should probably add a setting to django.settings that looks up the environment and it has a default, the one suggested in #177.

[2017-05-10 21:31] jhsimpson opened #187 "Problem: Not using tox"
we should be using tox.

[2017-05-11 00:19] sevein opened #191 "Problem: 7zip and unar deps are overlapping"
We use unar once in the code, lsar is used twice.

Can we achieve the same with 7zip?
Best to keep the number of deps small, can we use 7zip where unar is used today?

Also, unar is not available in Alpine Linux our fav dist when we build containers.

[2017-05-11 00:22] sevein commented on #191
Also, [p7zip-full](https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-trusty#L3824) is whitelisted by TravisCI but not unar. That forces us to create a VM-based Travis environment instead of a container-based build environment, which is slower.

[2017-05-11 00:48] jhsimpson commented on #179
PR #190 was merged, so this issue is resolved, closing.

[2017-05-11 00:48] #179 closed, assigned to nobody

[2017-05-24 20:38] jhsimpson commented on #187
:) merged now.

[2017-05-24 20:38] #187 closed, assigned to sevein

[2017-05-30 17:22] sevein opened #195 "Problem: there are missing migrations, refs #174"
In #174 we localized a bunch of field properties in our models but we did not include the corresponding migration.

[2017-05-31 19:23] jrwdunham opened #197 "Problem: re-ingesting encrypted AIPs seems to result in double compression"

[2017-06-11 19:11] sevein opened #201 "Problem: dspace.py fails to update bitstream policies"
The bitstream policy update code looks for `metadata.7z` and `objects.7z` which fails when using the zip format.

This bug was introduced in #173 (a3bc8dba07b80c41af5794fa75c5fd0313ce60cf). It was reported by @eckardm here: https://github.com/artefactual/archivematica-storage-service/commit/369737f4e5d615a37304839386ac45f2d949397d#commitcomment-22296411. @eckardm suggested a fix that they're curre

[2017-06-19 21:02] hakamine opened #205 "Problem: packages tab rendering scalability"
When displaying the packages/ location,  the Storage Service reads all the entries of the packages table to memory before rendering ( https://github.com/artefactual/archivematica-storage-service/blob/stable/0.10.x/storage_service/locations/views.py#L45-L47  ), even though the view shows only 10 packages at a time. On an instance with 40000+ packages it takes several minutes to display. Also fearin

[2017-06-28 14:33] sevein commented on #195
Fixed in #206.

[2017-06-28 14:33] #195 closed, assigned to nobody

[2017-07-07 08:25] helenst opened #208 "Docker integration (merge from Jisc fork)"
Merge work from https://github.com/JiscRDSS/archivematica-storage-service/pull/1 and https://github.com/JiscRDSS/archivematica-storage-service/pull/7

This creates a Dockerfile along with supporting fixes in the code. Storage service should be able to run either in or out of a Docker container.

Also https://github.com/JiscRDSS/archivematica-storage-service/pull/4 and https://github.com/JiscRDSS/a

[2017-07-07 09:16] helenst opened #209 "Add create_user command (merge from Jisc fork)"
Merge work from https://github.com/JiscRDSS/archivematica-storage-service/pull/2

This adds a create_user management command to the storage service to help with automated deployment.

Related AM issue: https://github.com/artefactual/archivematica/issues/665

[2017-07-07 09:30] helenst opened #210 "Shibboleth integration (merge from Jisc fork)"
Merge work from https://github.com/JiscRDSS/archivematica-storage-service/pull/3 and https://github.com/JiscRDSS/archivematica-storage-service/pull/6 into core.

This enables Shibboleth authentication (optionally) to allow login from academic institutions. This work should not concern itself with implementation of Shibboleth protocols - it will simply respond to authentication headers received fro

[2017-07-07 09:50] helenst opened #211 "Add default location setting (merge from Jisc fork)"
Merge work from https://github.com/JiscRDSS/archivematica-storage-service/pull/8 and https://github.com/JiscRDSS/archivematica-storage-service/pull/8/ into core.

This provides a default location setting in the storage service.

Related AM issue: https://github.com/artefactual/archivematica/issues/669

[2017-07-10 11:36] lower29 commented on #211
I have a dev branch based on `qa/0.x` ready to go for this change, but I don't have permission to push.

The branch includes the changes from https://github.com/JiscRDSS/archivematica-storage-service/pull/8 and https://github.com/JiscRDSS/archivematica-storage-service/pull/11 (which was a fix to 8) as well as a minor fix to a typo I spotted when I was reviewing the commits. Since the change for 11

[2017-07-10 12:20] lower29 commented on #209
I have a dev branch based on `qa/0.x` ready to go for this. https://github.com/JiscRDSS/archivematica-storage-service/pull/2 is all new code and just a single commit so is straightforward to merge.

My only query is whether there is additional work required (e.g. to tests or ansible) that I'm not aware of.

[2017-07-10 14:53] sevein commented on #211
Richard, you can fork the repo via GitHub, push the branch to your own remote and then submit the pull request.

[2017-07-10 15:17] lower29 commented on #211
Yeah, Justin has suggested I use the JiscRDSS fork to prepare the branch.

[2017-07-20 22:54] jrwdunham opened #219 "Problem: menu bar does not highlight current page"
To recreate: Go to admin tab of SS and see that "Home" is highlighted.

[2017-07-21 00:55] sevein opened #220 "Problem: tests mutate source folder"
Tests should generate temporary data somewhere else.

How to reproduce:

[code]

Running as root fixes the problem but it's not ideal:

[code]

[2017-08-01 20:13] #210 closed, assigned to nobody

[2017-08-01 20:13] sevein commented on #209
Thank you guys!

[2017-08-01 20:13] #209 closed, assigned to nobody

[2017-08-01 20:14] #208 closed, assigned to nobody

[2017-08-03 23:40] jhsimpson opened #221 "Problem: there is no error raised when extract_file() fails to extract a file"
Scenario:  Trying to get a single file from a 7zipped AIP.

When package.extract_file is called, with a relative_path argument (i.e., extract only one file), and the package was compressed with 7zip, then 7z is used to extract the a file from within the package.

If the file doesn't exist (there is no file inside the package at 'relative_path') then 7z exits, with a message that says:

[code]

but

[2017-08-04 00:33] jhsimpson opened #222 "Problem: I can't run tests without installing database packages"
This recent commit https://github.com/artefactual/archivematica-storage-service/pull/217/commits/215cf1870cc4b4d3888a4d4f70092286c584b2f3

brought in support for mysql and postgresql as db backends, instead of just sqlite3.

When running tests on this repo, sqlite3 is still used, and so it should not be necessary to install mysqlclient and other db related dependencies in the test environment.

Th

[2017-08-04 04:28] jhsimpson opened #225 "Problem: callback only works with some aips"
The current implementation of the send_callback/post_store/ api endpoint only works with AIP's that include sha512 checksums.

See https://github.com/artefactual/archivematica-storage-service/blob/stable/0.10.x/storage_service/locations/api/resources.py#L792

Archivematica 1.6.0 and greater have a new feature allowing users to choose a different checksum algorithm.  The callback should be updated

[2017-08-04 15:06] timhutch commented on #111
I think this should all be fixed now, as of 1.6.1.
Transfer name: https://projects.artefactual.com/issues/10712
Filename: https://projects.artefactual.com/issues/10155

[2017-08-09 13:43] remileduc opened #226 "Pipeline local filesystem: rsynced folders don't allow x permission for group"
I have this issue:
I use a pipeline local filesystem to link the storage with the dashboard. In the dashboard, the services are run with the `archivematica` user.

For some reasons, when the storage sends files to the dashboard, it uses another user to ssh in the dashboard, called `archivematica-storage`.

Both `archivematica` and `archivematica-storage` are in the group `archivematica`, so the fo

[2017-08-11 09:03] remileduc opened #229 "AIP Storage Location - the full path is not taken?"
I have a really weird behavior here... the storage is on a local pipeline setup like this:

- space (local pipeline)
    - path: `/`
    - staging path: `/`
- location (AIP storage)
    - relative path: `path/to/storage/`

The ingest fails to archive the AIP with this error:

From what I saw, the location path is not taken in account and it tries to put the AIP directly in the staging path of the

[2017-08-15 17:51] sevein commented on #178
This was fixed in qa/0.x (see #217).

[2017-08-15 17:51] #178 closed, assigned to sevein

[2017-08-15 18:55] sevein commented on #181
Solved in #217.

[2017-08-15 19:33] sevein commented on #184
Fixed in #217.

[2017-08-15 19:33] #184 closed, assigned to sevein, jhsimpson

[2017-08-15 19:36] #222 closed, assigned to jhsimpson

[2017-08-15 19:36] sevein commented on #222
Fixed in #223.

[2017-08-15 19:36] sevein commented on #211
Fixed in #212.

[2017-08-15 19:36] #211 closed, assigned to sallain, currmie

[2017-08-15 19:37] sevein commented on #180
Fixed in #217.

[2017-08-15 19:37] #180 closed, assigned to nobody

[2017-08-15 19:38] sevein commented on #186
@jrwdunham fixed it here: #230.

[2017-08-15 19:38] #186 closed, assigned to jrwdunham

[2017-08-18 09:29] helenst opened #231 "Catch ValueError from literal_eval"
Settings can be uuids, and some uuids are valid Python expressions, so running `literal_eval` on a settings value might raise a `ValueError` (to reject an expression) rather than `SyntaxError`

Done here in Jisc, needs porting to core. https://github.com/JiscRDSS/archivematica-storage-service/pull/14

Related to #211

[2017-08-24 23:13] sallain commented on #181
@nickwilkinson please assign to a dev for testing

[2017-08-24 23:33] nickwilkinson commented on #181
Hi @jraddaoui can you pleas test this?

[2017-08-25 09:12] jraddaoui commented on #181
Hi @sevein, this looks amazing!

Some instructions on how to test it would be really helpful, as there are a lot of changes in that PR. I can see the following parts to test:

- Installation (Docker, Vagrant and packages)
- Environment changes (SS_DB_URL, ALLOWED_HOSTS , etc)
- Gunicorn and gevent configuration
- Log files
- Static files with Whitenoise
- Databases support

Do you think I should t

[2017-09-05 21:41] jhsimpson opened #233 "Problem: Arkivum version 4.2 requires md5 checksums"
#216 fixed an issue when storing AIP's in an Arkivum space.  However, that fix has introduced a new problem.

When storing an AIP in Arkivum, the storage service first moves the AIP from it internal storage location to the Arkivum AIP Storage Location with operating system commands (rsync and a mv).  Afterwards, a checksum is POSTed to the Arkivum REST api, so that Arkivum can verify the contents

[2017-09-17 00:59] jrwdunham opened #234 "Problem: All re-ingest is failing"
When attempting to re-ingest an AIP (using any re-ingest type) the Django error `Error re-ingesting package: An unknown error occurred` shows up. (Originally filed under [RM #11419 Multi-process bagit.validate breaks AIP re-ingest](https://projects.artefactual.com/issues/11419#note-5) but this is a distinct issue.)

Inspection of the SS logs shows Rsync failures when trying to move source files at

[2017-09-19 17:28] jrwdunham commented on #234
Refs RM issue https://projects.artefactual.com/issues/11519.

[2017-09-22 15:51] sevein opened #236 "Problem: pipelines are not always discoverable"
SS stores the `remote_name` of a pipeline when it's created for consequent API access, e.g. re-ingest.

[code]

This field is also editable from the web interface.

When a pipeline is created via the SS API, this field is populated after the `REMOTE_ADDR` header unless the client provides a value via the `remote_name` property.

The problem is that the dashboard doesn't allow users to provide a cu

[2017-09-22 16:11] sevein opened #237 "Problem: re-ingest error message is broken"
When you try to re-ingest a package that it has already been re-ingested the web interface reads the following message:

`Error re-ingesting package: This AIP is already being reingested on {pipeline}`

Instead of `{pipeline}` I would expect to see the name or the UUID of such pipeline.

[2017-09-24 22:27] jrwdunham commented on #236
Assuming a URL is `scheme:[//[user[:password]@]host[:port]][/path][?query][#fragment]`, are you proposing adding a new attribute to `Pipeline` so that `Pipeline().remote_url` must be a valid `scheme:[//host[:port]]`?

Or are you thinking of modifying the logic around `Pipeline().remote_name` so we can accept both scheme-less and schemed URLs?

[2017-09-24 23:09] sevein commented on #236
I didn't think much about it but I like the way ^ sounds. It would mean that we can solve the problem without a database migration - is that ok?

[2017-09-24 23:31] jrwdunham commented on #236
Sounds good to me.

[2017-09-25 14:15] lwo opened #238 "Shibboleth user cannot login after the first logout"
In testing the archivematica/1.x and archivematica-storage-service/0.x branches we encounter the following issue when a user authenticates with the external identity provider method Shibboleth:

1. The user has never connected with the username
2. The user connects to the dashboard\storage service
3. The user is directed to the Shibboleth Identity Provider
4. The user authenticates
5. The user is

[2017-09-25 14:19] sevein commented on #238
Thank you, @lwo. I've assigned this issue to @helenst as she is the most experienced person in the team in this area.

[2017-09-28 21:27] jrwdunham commented on #234
Fixed by merge of https://github.com/artefactual/archivematica-storage-service/pull/235

[2017-09-28 21:27] #234 closed, assigned to nobody

[2017-10-03 17:59] kellyannewithane commented on #186
documentation - installation - look at the code

[2017-10-03 18:55] kellyannewithane commented on #181
@jraddaoui  Yes, please work on the 3 install options and see how it goes?  Documentation will be needed, do you have suggestions as to where it should go?

[2017-10-03 18:59] kellyannewithane commented on #178
@jrwdunham  Can you please test and comment if documentation changes are needed?

[2017-10-05 17:40] kellyannewithane commented on #184
@jhsimpson Document!

[2017-10-06 22:18] kellyannewithane opened #243 "AIPs show in the storage service when not actually there"
Not able to download AIPs on Archival Storage tab because not stored where they should be on
http://am17x.qa.archivematica.org/

If logged into SS on am17x machine and go to the packages tab, shows that they're staged on the storage service and not uploaded.  They shouldn't be available on the archival storage tab.

[2017-10-11 16:47] helenst commented on #238
Looks like an issue with `django-shibboleth-user` - it sets a session key on logout to signal that re-login is not allowed in the same Django session (which can extend between browser sessions). (https://github.com/Brown-University-Library/django-shibboleth-remoteuser/blob/a336c2b715275b892bdc6234b043c7fd63dc97aa/shibboleth/views.py#L74) I think this is done to prevent a user being bounced straigh

[2017-10-16 20:17] #238 closed, assigned to nobody

[2017-10-16 20:24] sevein commented on #220
Why this is not a problem in Travis CI?

[2017-10-17 23:04] jrwdunham opened #249 "Problem: filesystem and database are not treated as injectable dependencies"
The storage service contains pervasive calls to filesystem APIs (`os`, `sys`, `shutil`) and database APIs (Django `models`, Elasticsearch). If classes like `package.py::Package` explicitly declared dependencies on objects (say `fs` or `db`) and the APIs they required, then those dependencies could more easily be swapped out in different environments, e.g., during testing or when digital objects ar

[2017-10-19 21:00] sevein commented on #220
Now I remember, this is not a problem in Travis CI likely because the working tree is owned by the same user that running the tests. This is not true in our Docker image where the files are likely owned by root but the user running the tests isn't.

[2017-10-23 19:41] hakamine opened #250 "Problem: missing API endpoint to delete AIPs"
Currently AIP deletions can only be done from the dashboard's Archival Storage tab. It is not possible to delete from the Storage Service directly (either via UI or API).

While in theory all AIPs are indexed and should appear in the Archival Storage, there are cases in which it would be useful to be able to delete an AIP not in Archival Storage.

A temporary workaround (to delete AIPs from the SS

[2017-11-02 21:46] jrwdunham opened #254 "Reingest broken: SS expects pointer file which isn't there"
Attempt a metadata-only re-ingest (or other type) on an AIP in Archivematica at qa/1.x. The storeAIP micro-service will issue a PUT request against the SS's Package resources, attempting to update the AIP, which ultimately calls `finish_reingest`. This breaks (returns a 500 response) because `finish_reingest` is expecting a pointer file from AM which is no longer present because recent changes to

[2017-11-03 23:59] jrwdunham commented on #249
Changing the source as per this issue might not even be necessary. It may simply be necessary to improve how we write tests. See https://github.com/artefactual/archivematica/pull/772

[2017-11-06 21:28] Hwesta opened #258 "Upgrade bagit, remove bagit workaround"
Bagit-python 1.6 has been released, which includes fix LibraryOfCongress/bagit-python#63  This means that https://github.com/artefactual/archivematica-storage-service/blob/1afb22aa7c05d1ba43dc531536b8e49dfe4c2da8/storage_service/locations/models/package.py#L1201  can be removed, since it was a workaround for that issue.

[2017-11-08 23:52] sevein opened #260 "Problem: SS can't find p7zip binary when it's called 7z"
I've learned today that in the installation instructions of CentOS we ask the user to run the following command:

    $ sudo ln -sf /usr/bin/7za /usr/bin/7z

SS doesn't implement a mechanism to fallback to `7za` so if the step is missed the appliation will fail. This is an example on how this affected to one of our users: https://github.com/artefactual/fixity/issues/11.

I'm not sure if this shoul

[2017-11-10 03:00] jrwdunham opened #261 "Problem: API has no search capability"
Users want to be able to use SS's HTTP API to search across locations, packages, and files.

[2017-11-16 00:07] jhsimpson opened #263 "Enhancement: automatic check for django migrations"
Sometimes new Pull Reqests add code that requires a django migration to be run. It would be very helpful to add a travis check for this to all PR's.

This tool might do the job:
https://github.com/rev112/django-migration-checker

See: artefactual/archivematica#797 - same issue for Archivematica dashboard

[2017-11-16 00:09] sevein commented on #263
I did something similar in fpr-admin, here: https://github.com/artefactual/archivematica-fpr-admin/blob/677607a38ed6d18bd8fa1601e1704a4096e30afe/.travis.yml#L7-L15.

[2017-11-16 23:47] sromkey opened #264 "Problem: Create Key page is unclear"
The two fields in the Create Key page are labelled "Name real" and "Name email." It would be more clear if they were labelled "Name" and "Email."

[2017-11-17 01:01] jrwdunham commented on #264
I agree with you. I think I did that for a reason. I think the reason was that that is what GPG calls them. There are some aspects of GPG's key(chain) model that we are simplifying here. Maybe we should make the fields make more sense in our interface (as you say) but have tooltips or something that make the mapping to GPG keys make sense for users familiar with that model?

[2017-11-18 18:10] sevein opened #266 "Problem: pipeline self-registration mechanism is static"
When a new pipeline is registered, SS guesses the IP address by looking at the REMOTE_ADDR header of the HTTP request. This mechanism has worked fine for a long time because the pipeline was either running in the same host or in a separate host with a static IP address. In more dynamic environments IP addresses may change often and SS eventually becomes unable to reach the pipeline back, for examp

[2017-11-18 18:43] sevein commented on #266
Temporary the SS admin can manually update the remote name in the admin tab using a DNS name, e.g. in our Compose environment the user can use the name `archivematica-dashboard`.

![image](https://user-images.githubusercontent.com/606459/32983679-5772147e-cc4d-11e7-917d-6c355a58ce5e.png)

[2017-11-18 18:48] sevein commented on #266
Long-term solutions like the self registration pattern in service discovery should be considered. A simpler solution could be to allow the pipeline to define its own address. Instead of remote name we should we store the base URL, e.g. `https://archivematica-dashboard:8080`?

[2017-11-22 22:53] sromkey opened #268 "Problem: Replicators available in interface for all types of locations"
Replication only works for AIP Storage location, so there shouldn't be the option to choose replicators for any other type of location (unless/until that functionality is added).

The risk is a user mistakenly thinking the content from another type of location is bring replicated when it's not.

[2017-11-22 23:18] sevein opened #269 "Problem: extract_file endpont may fail to delete temporary folder"
The `/api/v1/file/<uuid>/extract_file/` endpoint uses the following code to extract a compressed package:

    (extracted_file_path, temp_dir) = package.extract_file(relative_path_to_file)

Then it runs the following to stream the contents of the file to the client:

[code]

I guess this approach works because the interpreter holds the file descriptor even when the files are deleted by `shutil.rmt

[2017-11-22 23:43] sromkey opened #270 "Problem: double replications being created from the first replication, not the original"
To reproduce:
- create an AIP storage location which has 2 replicating locations
- Store an AIP in the location

Result:
The second replication will be created from the first replication, rather than from the original AIP. If you look at the pointer files for the original and replicated AIPs:
- original AIP has one replication event resulting in the first replication
- first replication also has a

[2017-11-25 00:02] jrwdunham opened #271 "GPG encryption does not work with docker"
GPG is expecting to be able to write to a /home/archivematica directory which is not created by the SS's Dockerfile.

[2017-11-25 00:05] jrwdunham commented on #264
Should be fixed by https://github.com/artefactual/archivematica-storage-service/pull/272

[2017-11-25 00:08] jrwdunham commented on #219
Should be fixed by https://github.com/artefactual/archivematica-storage-service/pull/273

[2017-11-25 00:45] jrwdunham opened #274 "GPG key deletion may not truly be deleting keys"
To re-create:

1. Create a GPG key using the SS interface
2. Delete that GPG key using the SS interface
3. Use the `gpg` command line tool to see if the key is still present. It should not be, but it is::

        $ gpg --list-keys --homedir=/var/archivematica/storage_service/

[2017-11-25 00:55] jrwdunham commented on #271
Should be fixed by https://github.com/artefactual/archivematica-storage-service/pull/275

[2017-11-27 17:56] #264 closed, assigned to sromkey, currmie

[2017-11-27 19:35] #271 closed, assigned to jrwdunham

[2017-11-28 01:32] jrwdunham commented on #263
Fixed by https://github.com/artefactual/archivematica-storage-service/pull/277

[2017-11-28 01:32] #263 closed, assigned to nobody

[2017-11-28 01:34] jrwdunham opened #278 "Problem: a GPG-related migration is needed"

[2017-11-28 21:30] jrwdunham commented on #261
Will be fixed by https://github.com/artefactual/archivematica-storage-service/pull/262

[2017-11-28 21:55] jrwdunham commented on #278
Fixed by https://github.com/artefactual/archivematica-storage-service/pull/279

[2017-11-28 21:55] #278 closed, assigned to nobody

[2017-11-30 01:04] jrwdunham commented on #268
@sromkey should be fixed by https://github.com/artefactual/archivematica-storage-service/pull/283.

My one hesitation about the above PR is that a user could get themselves into this kind of trouble:

1. Create an AS location and assign an existing replicator location to it.
2. Edit the above AS location by changing its purpose to some other non-AS purpose and attempt to save it. The SS will preve

[2017-11-30 18:18] jrwdunham commented on #268
Fixed by https://github.com/artefactual/archivematica-storage-service/pull/283

[2017-11-30 18:18] #268 closed, assigned to currmie

[2017-12-01 00:38] jhsimpson opened #284 "Problem: Can't configure how browse space method works"
the storage service Space model has a browse method, that allows a client to get information back about the contents of a particular location.

https://github.com/artefactual/archivematica-storage-service/blob/qa/0.x/storage_service/locations/models/space.py#L205

This method will return information such as the number of objects in a given location (the number of files and folders).  Sometimes cal

[2017-12-05 00:18] hakamine opened #285 "Problem: sender e-mail address should be configurable"
Sender e-mail addresses such as the one [here](https://github.com/artefactual/archivematica-storage-service/blob/58fd0a6bd6998d0ed45d869e7f45174661dbc0a0/storage_service/locations/models/arkivum.py#L285) should be configurable, to be able to adapt to the organization's IT policy where the application is used.

[2017-12-05 00:28] sevein commented on #285
Related: https://github.com/artefactual/archivematica/issues/823.

[2017-12-05 23:32] sromkey commented on #266
@sevein does the referenced PR close this issue?

[2017-12-05 23:38] sevein commented on #266
Yay.

[2017-12-05 23:38] #266 closed, assigned to kellyannewithane

[2017-12-06 19:39] sevein commented on #181
Regarding to tests I think this is already been tested in many ways as it's part of the core of the application. I'll be looking at next steps for documentation.

[2017-12-06 20:25] sevein commented on #220
This was fixed in #276.

[2017-12-06 20:25] #220 closed, assigned to nobody

[2017-12-06 22:19] sevein opened #286 "Problem: test user is always created"
Storage Service creates a `test` user automatically using the same password: `test`. It is created after the `postdb_sync` (aka `migrate` in recent versions of Django) signal is dispatched. Here's our callback:

https://github.com/artefactual/archivematica-storage-service/blob/2cc49f7debaeeb77bccb77e99c5844dc41b8b845/storage_service/common/models.py#L14-L21

As a result, the `test` user is made av

[2017-12-06 22:51] sevein commented on #286
If we fix this our test suite will break because it relies on the fact that the test user is automatically created. I fixed that in our RDSS fork, just by adding the following two objects to the `base.json` fixture:

[code]

[2017-12-07 00:42] sevein commented on #269
A client has reported that when using NFS and because the file isn't closed then NFS creates a hidden file upon its deletion that prevents rmdir from removing its temp directory.

[2017-12-07 00:43] sevein commented on #269
Related: https://serverfault.com/questions/201294/nfsxxxx-files-appearing-what-are-those.

[2017-12-07 23:55] sevein commented on #269
I'm going to submit a pull request addressing the issue by passing `ignore_errors=True` to `shutil.rmtree`. It was suggested to address it in the following way:

[code]

But I want to avoid that because I don't want to read the whole file in memory.

A long-term solution has been suggested in  https://github.com/artefactual-labs/am/issues/21 but it's not something we can achieve in the way SS work

[2017-12-08 00:45] sevein commented on #286
Not happening in SS 0.11.

[2017-12-08 02:21] #269 closed, assigned to sallain, mamedin

[2017-12-12 19:50] jrwdunham opened #289 "Problem: archivematicaClient.py passes unexpected `capture_output` kwarg"
Commit f527d53a3b61164a327038084b007beb2f9240a7 added this call:

    executeOrRun('command', script, stdIn='', printing=True, capture_output=capture_output)

The problem is that `executeOrRun` does not recognize the `capture_output` kwarg, which is currently only available in dev/1.8.x.

[2017-12-13 13:14] mamedin opened #290 "Problem: The gcc-c++ dependency is missing on RHEL"
I have found this issue when upgrading to SS qa/0.x on RHEL 7. When running the ansible playbook I got this error:

[code]

[2017-12-13 13:17] mamedin commented on #290
It was fixed after installing the `gcc-c++` package.

I think that it applies to CentOS and stable/0.11.x version too.

[2017-12-13 16:57] scollazo opened #291 "Problem: rsync arguments are not supported in redhat/centos"
Using centos 7 , and rsync 3.0.9, transfers fail to start due to an unsuported rsync argument

<pre>
n[3612]: StorageException: Rsync failed with status 1: rsync: Invalid argument passed to --chmod (F660,D770)
</pre>

Tested with the equivalent command and it works, pr on the way.

<pre>
rsync -t -O --protect-args -vv --perms --chmod "Fug+rw,o-rwx,Dug+rwx,o-rwx" -r test1 test2
</pre>

[2017-12-13 17:33] #291 closed, assigned to scollazo

[2017-12-15 16:22] #290 closed, assigned to mamedin

[2017-12-15 16:24] #284 closed, assigned to nobody

[2017-12-17 02:44] sevein commented on #181
See #294.

[2017-12-17 02:44] #181 closed, assigned to sevein

[2017-12-17 05:40] ross-spencer opened #295 "Problem: Storage Service tests run locally are failing"
Log attached: [storage-service-failures.txt](https://github.com/artefactual/archivematica-storage-service/files/1565345/storage-service-failures.txt)

Additional information.

[code]

[2017-12-17 18:56] sevein commented on #295
IIRC the root cause was that some of our tests attempt to mutate the source code folder but in our Docker image the source code is owned by `root` while the user running the tests is `archivematica` hence the permission error.

I filed https://github.com/artefactual/archivematica-storage-service/issues/220 and attempted to fix it via https://github.com/artefactual/archivematica-storage-service/pul

[2017-12-17 19:15] ross-spencer commented on #295
I have stable/0.11.x checked out and up to date, so that should be okay
right?

On Sun, Dec 17, 2017 at 12:56 PM, Jesús García Crespo <
notifications@github.com> wrote:

--
Ross Spencer
Software Developer, Artefactual Systems Inc.
www.artefactual.com

[2017-12-17 19:22] ross-spencer commented on #295
Okay, I see your commits are against qa/0.x. I'll continue to use that one
instead.

On Sun, Dec 17, 2017 at 1:15 PM, Ross Spencer <rspencer@artefactual.com>
wrote:

--
Ross Spencer
Software Developer, Artefactual Systems Inc.
www.artefactual.com

[2017-12-17 19:37] sevein commented on #295
It's also in `stable`.

I can't reproduce. Check this out: https://asciinema.org/a/7aoF45uf48VhWSB7gBEMDTNPt.

What permissions do you see when you access the container?

[2017-12-17 19:37] sevein commented on #295
Using Docker for Mac here btw.

[2017-12-17 19:56] ross-spencer commented on #295
Permissions in the container:

[code]

Events in Asciinema, https://asciinema.org/a/153168

[2017-12-17 20:28] sevein commented on #295
Ok I see! https://github.com/artefactual/archivematica-storage-service/pull/276 solved the problem to some extent (in our Docker image) but the issue persists when you're injecting the source code from your host into the container because `locations/fixtures` is owned by your local user.

I think that the right solution here is to update our tests so they create the temporary contents in `/var/arc

[2017-12-17 20:37] ross-spencer commented on #295
It makes sense. I can see that `/var/archivematica/storage_service` is a location that is owned by the `archivematica` user in the container and so it should be possible to write temporary contents there without issue.

[2017-12-17 20:42] ross-spencer commented on #295
@sevein I've got time today, I can look at modifying those tests to write to the alternate locations. It's good learning.

[2017-12-17 21:32] ross-spencer commented on #295
List of affected tests to modify.

[code]

[2017-12-18 02:17] sevein commented on #233
@jhsimpson this is assigned to you. Are you planning to work on it?

[2017-12-18 14:46] ross-spencer commented on #295
I have worked through the first two test files in the code to understand the problem better and can confirm that if we change our fixtures location to `/var/archivematica/storage_service/fixtures/` then ostensibly this will work. That being said, I'm not sure that would be a complete solution in and of itself.

- The tests currently use the same variable to describe locations for _'fixtures that w

[2017-12-18 15:08] sevein commented on #295
Reading from the internal `locations/fixtures` should be fine, I don't think that needs to be changed unless the separation makes the task much harder. I don't remember off the top of my head if these tests set up a location in which it's expected to both read the existing files and write new ones - if that was the case then I would just not worry and copy the whole thing when the tests start. It

[2017-12-19 18:18] jrwdunham commented on #254
We need to confirm that this is fixed by https://github.com/artefactual/archivematica-storage-service/pull/255.

[2017-12-19 18:25] jrwdunham commented on #243
May be related to https://github.com/artefactual/archivematica/issues/815.

[2017-12-21 21:35] sromkey opened #296 "Problem: Archivematica cannot start transfers from encrypted transfer source locations"
If content is in an encrypted transfer source location, Archivematica cannot start transfers from it when arranged from backlog. This error appears in the dashboard logs when it is attempted:

`ERROR     2017-12-21 21:13:25  django.request:base:handle_uncaught_exception:256:  Internal Server Error: /filesystem/copy_from_arrange/
Traceback (most recent call last):
 File "/usr/share/python/archivema

[2017-12-28 20:48] jraddaoui opened #298 "Problem: API package filtering by location doesn't work"
PackageResource contains its related LocationResource in a field called `current_location` but it's being added to the filtering options as `location` in https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/api/resources.py#L470.

Currently trying to filter over the `location` field, no results are being filtered:
[code]
And trying to filter ove

[2017-12-31 06:48] jraddaoui opened #299 "Feature: Add Swagger documentation to API"
Add Swagger documentation and UI using https://github.com/concentricsky/django-tastypie-swagger

[2017-12-31 07:20] jraddaoui commented on #299
Requires the fix for #298

[2018-01-03 19:30] jrwdunham opened #301 "Problem: SIPs cannot be created from encrypted transfers in backlog"
To re-create:

1. Create a transfer backlog location in an encrypted GPG space in the SS.
2. Disable the default transfer backlog location.
3. Enable the encrypted transfer backlog location.
4. Create a transfer and send it to backlog
5. In the ingest tab, attempt to create a SIP from the encrypted transfer in backlog by dragging the encrypted transfer to the arrange/ folder. The GUI will hang sho

[2018-01-09 21:50] #301 closed, assigned to nobody

[2018-01-13 01:33] sallain commented on #186
@jrwdunham Does this need to go into the documentation somewhere?

[2018-01-16 17:17] sallain commented on #184
@jhsimpson bumping this - maybe there's a dev or sysadmin who could document the options that @sevein outlined above?

[2018-01-16 18:29] #233 closed, assigned to jhsimpson

[2018-01-16 18:30] jhsimpson commented on #233
The newest version of Arkivum supports multiple checksum algorithms so this issue is no longer needed.

[2018-01-23 23:40] sromkey commented on #296
@currmie We're going to be setting up a specific testing server to test encryption related issues.

[2018-01-24 15:52] sevein opened #303 "Problem: bootstrap process doesn't always work"
In a typical AM/SS installation (deb/rpm/ansible) the process seems to be done in the following way:

1. SS administrator deploys Storage Service code.
2. SS administrator runs `manage.py migrate`.
3. SS administrator *starts* Storage Service web worker(s).
4. SS administrator provides API key to Pipeline administrator.
5. Pipeline is installed - pipeline self-registration process.

The order of t

[2018-01-24 15:57] sevein commented on #303
A potential solution is to implement the startup function as a management command that we ask the user to run after `manage.py migrate` is executed. Or perhaps Django emits some kind of signal that we can use to trigger `startup()` when the migration completes (`django.db.models.signals.post_migrate`?).

[2018-01-26 22:42] jrwdunham commented on #219
This is broken again as of Jan 26, 2018. I don't know why.

[2018-01-29 20:43] jrwdunham opened #305 "Problem: `compress_package` fails when compression algorithm to tar is empty string"
When `package.py::compress_package` is forking a subprocess to call `tar` and it passes `''` as the compression algorithm, the call will fail. A simple example shows this:

    ['tar', 'c', '-C', '/path/to/tartest/subdir', '-f', '/path/to/tartests.tar', 'Test 123']

    0

    ['tar', 'c', '', '-C', '/path/to/tartest/subdir', '-f', '/Users/joeldunham/Documents/Artefactual/tartests.tar', 'Test 123'

[2018-01-30 00:16] jrwdunham opened #307 "Problem: AIP replication not working"
AIP replication is breaking because `Package.create_replica_pointer_file` is returning `None`, which is caused by `replica_package.should_have_pointer_file()` returning `False` because the replica package is not a file at the time of the call. Sample error log:

    ERROR     2018-01-26 13:15:27  django.request.tastypie:resources:_handle_500:301:  Internal Server Error: /api/v2/file/
    Traceback

[2018-01-30 20:49] jrwdunham commented on #305
This should not require any changes to the documentation at any level.

[2018-01-30 20:49] #305 closed, assigned to sromkey

[2018-01-30 20:52] jrwdunham commented on #305
The resolution of this issue has hopefully advanced the Archidora (Archivematica/Islandora) issue at https://projects.artefactual.com/issues/11642.

[2018-01-30 21:02] #307 closed, assigned to nobody

[2018-01-30 21:27] sromkey opened #309 "Issue: Cannot deselect replicator"
To recreate:
- Set up a new or existing AIP Storage location to have a replicator (or more than one)
- Save your edits
- Edit the location again and try to de-select one (or more) replicators

When the location is edited the replicator remains assigned, even if you've removed it in the interface.

[2018-01-30 22:10] #219 closed, assigned to currmie

[2018-01-31 19:08] #309 closed, assigned to kellyannewithane

[2018-01-31 19:18] sevein opened #311 "Problem: DB conns may not be closed at the end of the request"
See https://git.io/vd9qq for more details - we're using gevent and we don't have a pool.
We're already doing this in archivematica-dashboard.

[2018-01-31 20:10] jrwdunham opened #312 "Problem: gunicorn gevent worker class and sword API multiprocessing are incompatible"
Using gunicorn with worker class `'gevent'` is incompatible with usage of Python's multiprocessing package, which is used in the sword API logic at https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/api/sword/helpers.py#L148. For reference, see

- https://github.com/benoitc/gunicorn/issues/1367#issuecomment-268439104
- https://stackoverflow.co

[2018-01-31 20:32] sevein commented on #312
It could be implemented with threads too. Or we could wait until the work being done at https://github.com/hudmol/archivematica-storage-service/commit/async is completed.

[2018-02-01 22:33] jhsimpson opened #314 "Problem: Creating Transfers and Storing AIPs requires files to be copied twice"
Each type of Space defined in the storage service requires two methods to be defined - `move_to_storage_service()` and `move_from_storage_service()` (see https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/models/space.py#L79-L85).

These methods are used in (at least) two places:

- when creating a transfer (see https://github.com/artefactual/

[2018-02-01 22:34] jhsimpson commented on #314
@jambun @marktriggs ping - this is the issue we were discussing by email.

[2018-02-01 22:37] jambun commented on #314
Thanks @jhsimpson

[2018-02-01 23:16] jambun commented on #314
Also pinging @payten

[2018-02-03 00:00] currmie commented on #254
Attempted metadata-only re-ingest and partial re-ingest on the following AIPs on am17x.qa:
Aip1 - 6214faf5-eab6-424c-b0f9-b1078e7c0828
Aip2 - 8ec6e3fd-586b-49c3-b31c-5038e6934677

Reingest of Aip1 fails at the Generate AIP METS microservice (runtime error: maximum recursion depth exceeded).
Reinsgest of Aip2 passes.

@jrwdunham, can you pls. advise?

[2018-02-06 00:28] mamedin opened #315 "Problem: When using severals AS, the default one is deactivated after storing an AIP"
Tested on augustus SS with the latest stable/0.11.x version.

This server has 2 AIPs Storage locations. The standard AIPs Storage is set as default and the other one is not set as default. After storing an AIP the default one is set as non default and then there's no default AIPs Storage.

SS log when storing the AIP:
[code]

I suspect that this happens after calling `hydrate_current_location`.

[2018-02-06 02:21] jambun commented on #314
Hi @jhsimpson,

@payten and I have been looking at this. @payten has a commit on our fork at:
https://github.com/hudmol/archivematica-storage-service/commit/2dd36fada1c1149cb828e0273282c5364e8899e7

We took the approach of replacing the move_to and move_from method calls with a call to a new move_direct method which does a move directly from the source to the destination without stopping off via t

[2018-02-06 04:37] jrwdunham commented on #305
For those doing QA on this issue in the context of the AM 1.7 release, it may be difficult to find a behaviour or code path that would reveal the issue because in general we don't create .tar files without compression, e.g., when creating AIPs. This issue was contributing to the failure of Archidora (Archivematica/Islandora) transfer creation and its only known symptom was log messages indicating

[2018-02-06 04:38] jrwdunham commented on #307
QA should involve testing that AIP replication is in fact now working.

[2018-02-06 04:46] jrwdunham commented on #296
@sromkey I do not understand this issue. An encrypted space can only have locations with the following purposes:

- AIP Storage
- Transfer Backlog
- Replicator

Is this issue the same as https://github.com/artefactual/archivematica-storage-service/issues/301? If so, then this should be closed by the merging of https://github.com/artefactual/archivematica-storage-service/pull/302.

[2018-02-06 05:35] jrwdunham commented on #254
@currmie I've looked into your Aip1 failure and it seems to be due to another subtle bug in metsrw which I've documented as https://github.com/artefactual-labs/mets-reader-writer/issues/37. I will look into it more soon.

[2018-02-06 16:34] sromkey commented on #296
@jrwdunham It's a duplicate of #301, I didn't realize that we both filed the same issue. I'll close now.

[2018-02-06 16:34] #296 closed, assigned to currmie

[2018-02-06 18:54] jrwdunham commented on #315
I'll look into this and see if it's an easy fix and if so it can be included in the scope of the AM 1.7 release. If not, its fix will be postponed until AM 1.8.

[2018-02-06 20:35] #254 closed, assigned to currmie

[2018-02-06 21:32] jrwdunham opened #317 "Problem: reingest fails with service files"
If USE=service files are documented in the AIP METS, then the update METS micro-service will fail because metsrw will trigger a maximum recursion depth exception. See

- [SS issue 254 where this was discovered](https://github.com/artefactual/archivematica-storage-service/issues/254)
- [metsrw issue 37 which describes the underlying issue](https://github.com/artefactual-labs/mets-reader-writer/issu

[2018-02-06 23:06] jrwdunham commented on #315
When `Package.store_aip` is called, it updates the package's related location in the db when it calls `_update_quotas()`. This in turn triggers the `post_save` event on the `Location` model which causes `Location.set_default_location_post_save` to be called. This call is causing `Settings.objects.filter(name=name, value=instance.uuid).delete()` to be called because the location instance's `_defaul

[2018-02-06 23:08] jrwdunham commented on #315
Should be fixed by https://github.com/artefactual/archivematica-storage-service/pull/318

[2018-02-06 23:46] #315 closed, assigned to currmie

[2018-02-07 19:06] ross-spencer commented on #295
@sevein since I reported this the `MakeFile` has been updated to run tests as root. Is there still an appetite to see these failures fixed so that they can run okay in the AM user's space?

[2018-02-07 19:10] sevein commented on #295
Yes, I think it would be a good thing but low priority.

[2018-02-07 21:53] sromkey opened #319 "Problem: there is no way to delete stored DIPs"
While you can request the deletion of an AIP from the dashboard and complete the deletion in the Storage Service, there is no such functionality for stored DIPs. I'm of the opinion that the two-step process for deleting AIPs (request in the dashboard, complete in the Storage Service) is not necessary for deletion of stored DIPs because if a DIP is accidentally deleted, it can always be regenerated

[2018-02-09 21:24] ross-spencer opened #321 "Reingest process from Uncompressed AIP to Compressed 7Z with BZip does not create zip"
To test:

* Set up a defaultMCPProcessing.xml with the option `None` for AIP Compression.
* Ingest first as `Uncompressed` when given the option
* Download and verify we receive a tarred set of folders from the Storage Service
* Once complete, reingest with `7Zip with Bzip`
* Download and verify we still only receive a tarred set of folders from the Storage Service
* Further, check the ingest/AIP

[2018-02-09 21:47] jrwdunham opened #322 "Problem: `pipeline.approve_transfer` called with wrong args"
On line 353 of api/sword/helpers.py the call `pipeline.approve_transfer(deposit.current_path, type='standard')` uses kwarg `type` when it should use `transfer_type`, cf. `pipeline.py::approve_transfer`. This breaks the Sword API.

[2018-02-09 22:26] jrwdunham opened #324 "Problem: uncompressed AIPs need pointer files"
Pointer files are needed to describe uncompressed AIPs. (They are already created for compressed AIPs.) Motivations:

1. Encrypted uncompressed AIPs (which are tarred) need pointer files so we can know which GPG key is needed to decrypt them.
2. Replica uncompressed AIPs need pointer files so we can know what original AIP is their source.
   - Relatedly, uncompressed AIPs cannot currently be repli

[2018-02-10 00:04] #322 closed, assigned to jrwdunham

[2018-02-10 00:07] jrwdunham commented on #322
If this needs to be documented for the 1.7 release, it would be in the context of using the Sword API, especially as it relates to the Archidora (Arhivematica Islandora integration) project. Refs internal https://projects.artefactual.com/issues/11642.

[2018-02-12 20:23] ross-spencer commented on #231
Seeing this error with my database in its current form:

`select * from administration_settings;`

[code]
The result is that it impacts my ability to bring up the administration page of the SS Dashboard.

![image](https://user-images.githubusercontent.com/1880412/36117488-cd2f6c72-1007-11e8-81fc-198fb8492f11.png)

@sevein has highlighted this maybe the line causing the issue: https://github.com/ar

[2018-02-13 00:08] currmie commented on #264
Verified GPG key GUI enhancements; related changes / updates to AM Storage Service docs in progress.

[2018-02-13 20:34] ross-spencer opened #325 "Issue: Storage service doesn't adopt the robustness principle for v2/ingest/reingest api call"
The following call to reingest will send a reingest to `Ingest` instead of `Transfer` when an upper case string of `FULL` is used. This is misleading to the user. It should probably return something else, or accept an upper- or lower-case string.

`curl -v -H "Authorization: ApiKey test:test" -H "Content-Type: application/json" -X POST -d '{"pipeline":"bdf745b9-139d-4438-abe2-0894d9f2ff31","reinge

[2018-02-14 20:43] jrwdunham opened #326 "Problem: users cannot make AIP deletion requests via the GUI"
The solution would be to add a "Delete" link/button to the rows on the /packages/ page.

[2018-02-16 22:51] jrwdunham opened #329 "Problem: ``_`` as ``ugettext`` gets overwritten in resources.py"
See the contradiction in the following two lines:

- https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/api/resources.py#L840
- https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/api/resources.py#L881

The last line triggers:

    Traceback (most recent call last):
      File "/usr/share/p

[2018-02-17 01:57] currmie commented on #264
UI dev fix verified. AM ss0.11 docs updated and ready for review @sromkey

[2018-02-18 22:31] currmie commented on #296
@sromkey - Has a testing server been set up to test encryption related issues?

[2018-02-20 21:36] #326 closed, assigned to kellyannewithane

[2018-02-20 21:38] jrwdunham commented on #326
QA should confirm that a user can click on the "Deletion Request" of an AIP in the packages/ page and see a notification and navigate to the deletion requests page and see the AIP listed there.

[2018-02-20 21:42] jrwdunham commented on #329
Fixed by https://github.com/artefactual/archivematica-storage-service/pull/330#pullrequestreview-97379506

[2018-02-20 21:42] #329 closed, assigned to jrwdunham

[2018-02-21 05:17] sromkey commented on #322
@jrwdunham is there any way to QA this without Archidora?

[2018-02-21 05:27] sromkey commented on #307
We QA'd this for SFU.

[2018-02-21 17:18] sromkey commented on #269
@sevein how can this be QA'd? Thanks.

[2018-02-21 17:35] sevein commented on #269
This was reproducible only when the Archivematica Shared Directory was a NFS device.

I'm not sure if the QA environment is using NFS. If that was the case, we would need to send requests to the `/api/v1/file/<uuid>/extract_file/` endpoint (Storage Service) and verify that it does not throw an error. One of our clients was also able to reproduce this just by creating a new AIC in AM because that w

[2018-02-21 18:02] sromkey commented on #180
@sevein does this need to be QA'd?

[2018-02-21 18:03] sromkey commented on #178
@sevein does this need to be QA'd?

[2018-02-21 18:06] jhsimpson commented on #178
I don't think this needs special qa attention.

On Feb 21, 2018 18:03, "SarahR" <notifications@github.com> wrote:

[2018-02-21 18:08] sromkey commented on #179
@sevein Does this need to be QA'd?

[2018-02-21 18:09] sromkey commented on #195
@sevein Does this need to be QA'd?

[2018-02-21 18:54] sevein commented on #195
Nope! In a different PR we added a check in Travis CI so it's not going to happen again!

[2018-02-21 20:59] sevein commented on #179
Nope.

[2018-02-21 21:04] sevein commented on #180
This has been already verified, thanks.

[2018-02-22 18:52] jrwdunham commented on #312
Note: for AM 1.7 we simply documented this issue and described a deployment workaround. See https://github.com/artefactual/archivematica-docs/pull/75.

[2018-02-22 19:00] jrwdunham commented on #329
I'm moving this to the Done column in the AM 1.7 GH release project because I don't think it needs QA and it definitely doesn't require documentation. This was one of the issues that was breaking the Archidora integration as described in the internal issue at https://projects.artefactual.com/issues/11642. Implementing the fix on the client's machine was part of resolving the overall issue.

[2018-02-22 19:23] jrwdunham commented on #322
@sromkey It looks like not. It looks like the following types of POST HTTP requests to various Sword endpoints will trigger the problematic code path that was fixed by PR 323.

1. Example POST finalization of deposit:

    $ curl -v -H "In-Progress: false" --request POST http://127.0.0.1:8000/api/v1/file/149cc29d-6472-4bcf-bee8-f8223bf60580/sword/

2. Example POST adding files to the deposit:

[2018-02-27 23:56] sallain commented on #211
I've only tested this with a default AIP storage location, but it seems to be working well - extensive testing on our servers with "Store AIP location" set to "Default location" hasn't resulted in any errors, including when the default location is changed in the Storage Service.

[2018-02-28 00:30] jrwdunham opened #331 "Problem: we are using `async` as a variable name when it is a reserved keyword in python >= 3.5"
See https://github.com/artefactual/archivematica-storage-service/blob/qa/0.x/storage_service/locations/api/resources.py#L441

[2018-02-28 00:31] sevein commented on #331
CC @marktriggs

[2018-02-28 00:45] sallain commented on #219
Looks good now.

[2018-02-28 01:07] jrwdunham opened #332 "Problem: we are using old-style Python classes"
This should avoided in general. For the culprits, see:

storage_service/locations/models/async_manager.py
39:class RunningTask():
48:class AsyncManager():

storage_service/storage_service/urls.py
38:    class shibboleth_urls:

storage_service/common/middleware.py
17:class LoginRequiredMiddleware:

storage_service/locations/views.py
64:class PackageRequestHandlerConfig:

[2018-02-28 01:26] marktriggs commented on #331
Drat!  Thanks.  Will send a PR for this.

[2018-03-01 21:06] sevein commented on #184
I'm doing this. Apparently https://github.com/artefactual/archivematica-storage-service/tree/stable/0.11.x/install doesn't list the SS_DB_* envs!

[2018-03-01 22:31] jrwdunham commented on #305
# This script proves that the change in Archivematica Storage Service PR 306
    # works. See https://github.com/artefactual/archivematica-storage-service/pull/306/files.

    # To run this script, copy and paste all of this into a file called
    # prove-ss-pr-306.py and call it with python:
    #
    #     $ python prove-ss-pr-306.py

    import os
    import shutil
    import subprocess
    imp

[2018-03-02 20:54] ross-spencer commented on #332
@jrwdunham would this be the most appropriate doc about what this means? https://wiki.python.org/moin/NewClassVsClassicClass

[2018-03-02 22:37] jrwdunham commented on #332
@ross-spencer that one looks good. I was hoping to find a clear-cut example of a code snippet showing how old-style classes can cause unexpected results. I found this: https://bugs.python.org/issue21785, but it seems pretty arcane. I think we should in general just have a policy that our classes are new-style across the board, even if it is motivated by an appeal to authority ultimately. Here's on

[2018-03-02 23:21] jrwdunham opened #336 "Problem: OSError is polluting the logs"
The SS very often tries to move files locally and falls back to rsync if an exception is raised. Since this is a common path, it seems odd to write the expected Python exception and traceback to the logs. I believe that this is an annoying red herring for people scanning the logs for errors when debugging. I suggest that we simply remove the two relevant `, exc_info=True` strings in space.py.

The

[2018-03-03 00:10] currmie commented on #315
Verified on augustus SS with the latest stable/0.11.x version.

[2018-03-06 21:34] jrwdunham commented on #336
Fixed by https://github.com/artefactual/archivematica-storage-service/pull/337

[2018-03-06 21:35] jrwdunham commented on #332
Fixed by https://github.com/artefactual/archivematica-storage-service/pull/338

[2018-03-08 23:22] jhsimpson opened #339 "Problem: S3 is not supported for AIP Storage"
The Storage Service has Spaces defined for DuraCloud and for Swift, but not for Amazon S3.

It should be possible to store AIP's in S3.  Ideally the way this is implemented would be as consistent as possible across both S3 and Swift.

It should be possible to store both compressed and uncompressed aips.

Ideally the new move_direct method of transfering packages between locations would be supporte

[2018-03-09 19:22] hakamine opened #340 "Problem: temporary tar file for uncompressed AIP download is not deleted"
When uncompressed AIPs are downloaded, temporary .tar files for them are created. Those temporary files need to be deleted after used, or they can cause disk space problems, especially when using batch scripts like https://github.com/artefactual/automation-tools/tree/master/aips

[2018-03-09 22:21] #340 closed, assigned to nobody

[2018-03-12 13:12] jraddaoui commented on #299
Doing the same in https://github.com/artefactual/archivematica will require more work because almost everything in there are custom methods.

[2018-03-12 17:05] #298 closed, assigned to nobody

[2018-03-16 17:29] hakamine commented on #340
Already tested (ref redmine 11932)

[2018-03-24 20:27] sevein commented on #314
This was fixed by @payten in #320.
Related issue: https://github.com/artefactual-labs/archivematica-acceptance-tests/issues/76.

[2018-03-25 07:03] ross-spencer commented on #325
Closing as this issue was fixed with f3f3721, but will make a nod to this comment here about future potential changes to the way APIs validate requests. https://github.com/artefactual/archivematica-storage-service/pull/335#pullrequestreview-100927454

[2018-03-25 07:39] ross-spencer commented on #231
**Workaround**

Access individual urls under Admin, e.g:

- http://127.0.0.1:62081/administration/users/
- http://127.0.0.1:62081/administration/version/
- http://127.0.0.1:62081/callbacks/
- http://127.0.0.1:62081/administration/keys/
- http://127.0.0.1:62081/administration/language/

[2018-03-27 10:14] ross-spencer opened #343 "Problem: Packages are deleted but the directory tree is not"
Given a deletion request:
[code]
We can explore the storage service location and see the directory tree remains:
[code]

[2018-03-27 10:34] ross-spencer opened #344 "Problem: Deletion via Storage Service doesn't update deletion status in AM"
**Expected behaviour**

A deleted AIP whether done via the dashboard or the storage service does not show up in the Archivematica dashboard.

**Current behaviour**

Archivematica will still show an AIP deleted via the storage service as `Stored`

**Steps to reproduce**

To recreate, create a deletion request in the storage service and approve it. E.g.
[code]
Then look at the Archivematica dashboar

[2018-03-29 03:55] ross-spencer commented on #344
Workaround: A mechanism to recreate the elastic search index again (in Archivematica) if this does happen/becomes unbearable: https://github.com/artefactual/archivematica/pull/1028

[2018-04-23 20:14] jrwdunham opened #345 "Problem: rsync v. 3.1.0 may be leaving behind fixity-check-breaking temporary files"
A [known bug in rsync v. 3.1.0](https://unix.stackexchange.com/a/276710) can result in 0-byte files being left behind if the rsync process is interrupted. This will break fixity checking in uncompressed AIPs because BagIt validate will see these empty (`.`-prefixed) files and will determine the bag/AIP is invalid. This issue was recognized by a client (CCA, see internal Redmine 12145).

Right now,

[2018-04-27 01:14] hakamine opened #346 "Problem: administration/ produces internal server error (ValueError: malformed string)"
On branch stable/0.11.x (commit 382f628) in some cases getting an Internal Server Error when trying to access administration/

SS debug log:
[code]

SS administration_settings table for error above:
[code]

Table below does not produce an error:
[code]

[2018-04-27 16:59] #346 closed, assigned to hakamine

[2018-05-01 18:06] jrwdunham opened #349 "Problem: encrypted uncompressed AIPs cannot be stored"
Running the [@aip-encrypt @uncompressed](https://github.com/artefactual-labs/archivematica-acceptance-tests/blob/master/features/core/aip-encryption.feature#L44) acceptance test, reveals that encrypted uncompressed AIP are not being stored.

At the code level, in package.py the following call is assuming that `pointer_file` is not `None`, despite the fact that it can be `None` when the AIP is unco

[2018-05-02 18:18] jrwdunham commented on #289
Closing this in favour of [AM issue 1076](https://github.com/artefactual/archivematica/issues/1076). This was filed in the wrong repo.

[2018-05-02 18:18] #289 closed, assigned to jrwdunham

[2018-05-04 14:03] ross-spencer opened #352 "Problem: Dataverse create/edit space page is not rendering correctly"
The form component after the staging path when asked to re-render, e.g. submitting the form once correctly or otherwise results in the following output:

![image](https://user-images.githubusercontent.com/1880412/39632091-62f5bc20-4fb4-11e8-8e63-4cfb89d39576.png)

The HTML when we view source looks as follows:
[code]

[2018-05-04 16:07] scollazo opened #353 "Problem: encrypted AIP spaces are not working on centos ansible installs"
Gnupg is installed by default, but rng-tools isn't

[2018-05-04 16:18] scollazo commented on #353
Closed by https://github.com/artefactual/archivematica-storage-service/pull/351

[2018-05-04 16:18] #353 closed, assigned to nobody

[2018-05-04 20:57] jhsimpson commented on #243
This issues is fixed by https://github.com/artefactual/archivematica/issues/815

[2018-05-04 20:57] #243 closed, assigned to jrwdunham

[2018-05-04 21:00] jhsimpson commented on #336
This is already fixed in qa/0.x, but I am re-opening it now so that fix can be back-ported to stable/0.11.x and included in the 0.11.1 release.

[2018-05-05 04:46] #336 closed, assigned to jrwdunham

[2018-05-05 07:47] ross-spencer commented on #352
We're overriding `as_p` here: https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/forms.py#L106

And the definition of `as_p` is here: https://docs.djangoproject.com/en/2.0/_modules/django/forms/forms/

For whatever reason, minor or otherwise, appending a string to `as_p` is causing this issue because if you remove it, all is okay.

There's a p

[2018-05-08 17:32] #349 closed, assigned to jrwdunham

[2018-05-11 00:17] joel-simpson opened #355 "Problem: Can't filter Dataverse datasets by query-string"
The Scholar's Portal team set up a test dataverse instance for us within their development dataverse. The idea discussed at the May 1 meeting was that we would connect to the "Archivematica Test Dataverse", which sits within the "root" dataverse.

I create a new space & location (transfer source) using the development dataverse URL and the API Key from the Archivematica test user that I created.

[2018-05-11 13:22] ross-spencer opened #356 "Problem: Dataverse storage-service tests need re-recording but API URL doesn't work"
The storage service fixtures contain a number of `vcrpy` tapes recording the interaction between the storage service and the Dataverse test API server. An example of a URL that they try to access is as follows: `https://apitest.dataverse.org/api/search/?sort=name&show_entity_ids=True&q=%2A&start=0&key=testkeys-77a8-49a3-874e-be1148e7c970&per_page=10&type=dataset&order=asc` from: https://github.com

[2018-05-16 00:53] joel-simpson commented on #355
I had a look at the Dataverse Native API, which is versioned, so would be preferable to the search API. It will allow you to get a list of all dataverses, but not datasets. Doesn't look like it can be used for our SS location.
So I also checked out the search API and discovered we could use the subtree parameter to retrieve only datasets within our dataverse. e.g.
http://demodv.scholarsportal.info

[2018-05-16 01:16] joel-simpson commented on #356
@ross-spencer I'm sure we can ask OCUL to contact the dataverse team for us, or connect us. But I wonder if it wouldn't make as much sense to ask them about the stability / longevity of the Scholars Portal test site? That might be more work to fix the tests, but it would be more within our control (i.e. we can restrict tests to the Archivematica dataverse) and if they do break in future, we have a

[2018-05-16 08:33] sevein opened #358 "Problem: TypeError exception in async module"
This code is breaking:

https://github.com/artefactual/archivematica-storage-service/blob/2cc49f7debaeeb77bccb77e99c5844dc41b8b845/storage_service/locations/models/async.py#L34-L36

Traceback:

[code]

This error was seen when Archivematica was trying to store an AIP. The logs in AM showed the following:

[code]

[2018-05-16 10:08] sevein commented on #358
I'm not sure how this wasn't detected before. It looks like Django could be returning a buffer/memoryview or bytes? See https://github.com/django/django/blob/stable/1.8.x/django/db/models/fields/__init__.py#L2331-L2371.

[2018-05-16 12:39] ross-spencer commented on #356
@joel-simpson I would take a reference implementation first (if something like the `apitest` service is still available) but it is a good idea to incorporate tests specific to our clients (OCUL and whomever else may want to use Dataverse) as well. Recording the API calls against alternative endpoints is not a labour intensive task and might lead to a more robust implementation. Happy just to keep

[2018-05-16 12:42] ross-spencer commented on #356
We might have an answer or two about what happened and why: https://github.com/IQSS/dataverse/issues/3345
And: https://github.com/IQSS/dataverse-client-python/issues/36

[2018-05-17 15:11] ross-spencer commented on #321
I am seeing this in my work today. It seems the `.7z` persists up until `Verify AIP` but then it seems like it might be disappearing during `Store AIP` see here for the exception output by Archivematica:

![image](https://user-images.githubusercontent.com/1880412/40186373-332a2846-59f5-11e8-9ebf-f5a3ed1874a0.png)
Command:
[code]
Stdout:
[code]
Stderr:
[code]

[2018-05-18 16:56] jrwdunham opened #360 "Problem: version needs to be bumped to 0.11.1"

[2018-05-18 18:16] #360 closed, assigned to jrwdunham

[2018-05-25 08:16] ross-spencer opened #362 "Problem: Dataverse space doesn't use Dataverse Community API Client"
This block here shows that we're creating the connection to the Dataverse API for ourselves: https://github.com/artefactual/archivematica-storage-service/blob/e91aeb8aa06ca9775915e79ddda617bd0d160044/storage_service/locations/models/dataverse.py#L75-L81

We might benefit from a community supported library, [this one](https://github.com/IQSS/dataverse-client-python) hosted on the Harvard IQSS (Inst

[2018-05-25 12:15] ross-spencer commented on #355
Related. https://github.com/artefactual/archivematica-storage-service/issues/362

[2018-05-25 13:07] ross-spencer opened #363 "Problem: Dataverse space/transfer browser does not show Dataverse versions"
Example of a data-set with versions: https://demodv.scholarsportal.info/dataset.xhtml?persistentId=doi:10.5072/FK2/72C3LQ&version=2.0

The versions are listed as:

* 1.0
* 2.0
* 2.1
* 2.2

We can access the versions via the following query strings **(NB no authentication required):**

* https://demodv.scholarsportal.info/api/datasets/23/versions/2.2
* https://demodv.scholarsportal.info/api/dataset

[2018-05-28 11:26] sevein commented on #236
I think that this issue needs to remain open until SS learns a new parameter that allows the user to indicate the URI of the pipeline in the create pipeline endpoint. This parameter should be provided by Archivematica when it performs the self-registration process.

[2018-05-31 22:06] jrwdunham opened #365 "Problem: pointer file creation causes unnecessary move operation"
Now that the Storage Service (SS) creates pointer files it must calculate the checksum of the AIP in order to document the checksum in the pointer file. However, this checksum creation currently happens *after* the AIP has been moved out of the SS and into its destination space. See the `_create_pointer_file_write_to_disk` method and its call to `utils.generate_checksum`. This checksum calculation

[2018-06-01 08:47] sevein opened #367 "Problem: locations can't be created via the SS API"
This is something that we made possible in the JiscRDSS fork and we want to bring to vanilla:
https://github.com/JiscRDSS/archivematica-storage-service/pull/24. It enables deployments of Storage Service with customized storage configurations in an automated way.

This is an usage example available at JiscRDSS/rdss-archivematica: https://github.com/JiscRDSS/rdss-archivematica/blob/1f6cac40306e5ac56

[2018-06-05 21:42] jrwdunham opened #369 "Problem: HTTP REST API is inconsistent, under-documented, divorced from client code, and lacking needed endpoints"
1. Inconsistent. The endpoints are defined via code in locations/api/urls.py and locations/api/resources.py and it is not very clear from looking at that code what is the pattern of HTTP method and path pattern (e.g., GET /locations/, GET /locations/\<UUID\>/, etc.) that each resource exposes and why. The pattern of endpoints for making CRUD requests against SS resources should be consistent so th

[2018-06-06 19:22] jrwdunham opened #371 "Problem: if unar is not installed, uncaught OSError will be raised in dspace.py"
See https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/models/dspace.py#L112

[2018-06-06 19:45] jrwdunham commented on #365
From a code perspective, the merging of https://github.com/artefactual/archivematica-storage-service/pull/366 fixes this issue. However, it requires QA before it can be closed.

[2018-06-06 19:57] jrwdunham opened #373 "Problem: waffle does not display closed issues more than a month old"
If we are trying to use Waffle to manage the 0.12.0 release, it is difficult to determine what is in scope for that release if closed issues that are more than one month old are not displayed. For example, https://github.com/artefactual/archivematica-storage-service/issues/332 is closed and is tagged with the 0.12.0 milestone but it will not be displayed in https://waffle.io/artefactual/archivemat

[2018-06-06 20:13] jrwdunham commented on #373
This waffle issue is relevant: https://github.com/waffleio/waffle.io/issues/314.

The suggestion at https://github.com/waffleio/waffle.io/issues/314#issuecomment-51905573 is relevant: basically "add another *Closed* column".

[2018-06-07 23:49] jrwdunham commented on #371
I don't think there will be a need to do anything here for QA. The fix here involves catching an exception that, under normal installation procedures, should not be possible (since `unar` should be installed).

[2018-06-08 03:34] jrwdunham opened #374 "Problem: long-running API calls are synchronous (need async)"
API calls to the Storage Service which request the creation of packages or the moving of packages are synchronous. This means the caller must wait on an open HTTP connection while the long-running operation executes. This is problematic because it will inevitably cause timeouts and because the client is blocked from performing other actions.

Parent of #358
Parent of #331

[2018-06-08 03:51] jrwdunham commented on #314
Reopening this for waffle/kanban purposes. After successful QA, this will be closed.

[2018-06-08 03:56] jrwdunham commented on #373
The solution we seem to be settling on is to use the `Connected to #NNN` referencing from PRs to issues so that merging a PR does not close the #NNN issue. Once a PR is merged and it fixes an issue, that issue is put into the "Review" column of the Waffle board. Only after QA is complete do we close the issue and move the issue and PR(s) to the "Done" column

[2018-06-08 04:15] jrwdunham commented on #331
For QA nothing should be necessary here. Resolution of this issue simply involved changing some variable names. There should be no functional result noticeable to the user.

[2018-06-08 17:00] sevein opened #375 "Problem: this project can't replace RDSS's fork yet"
RDSS wants to switch to vanilla SS but it can't because the three issues listed below haven't been addressed yet.

Similar issue in AM: https://github.com/artefactual/archivematica/issues/1127.

Dependencies:
- [x] Parent to #367 (PR #368).
- [x] Parent to #286 (PR #364).

Related: https://jiscdev.atlassian.net/browse/RDSSARK-521.
Fork's address: https://github.com/JiscRDSS/archivematica-storage-s

[2018-06-08 18:53] sevein commented on #236
@sromkey, I think that we can close this issue.

SS v0.11 included https://github.com/artefactual/archivematica-storage-service/pull/267 which made the following changes:

- Parse `Pipeline.remote_name` as URLs (797d6a91c657a6a42296c3215b7ec634704a5e10).
- Create pipeline endpoint to honour `remote_name`(134e33b108d1304f68794de51389f94e4c34ddd1)
- Add `SS_INSECURE_SKIP_VERIFY` env so TLS cert veri

[2018-06-14 00:38] sevein commented on #345
@jrwdunham that's really good detective work! Moving to v3.1.1 or newer seems reasonable.

I believe that as we're managing OS dependencies today we would be just adding the new version of the rsync package to AM v1.8's ubuntus-extra repo. IMO it's not ideal but I don't think that there is an alternative at the moment. This is something that we should probably discuss further.

[2018-06-14 10:26] scollazo opened #376 "Problem: unable to request deletion for uncompressed AIPs"
When a request for deletion of an uncompressed AIP (no pointer file) is launched, nothing happens.

The deletion request works when triggered from the dashboard.

[2018-06-14 19:30] ross-spencer commented on #355
I believe that we are expecting to see 5 results if we can filter the datasets available to us:

https://demodv.scholarsportal.info/dataverse/root?q=archivematica

![image](https://user-images.githubusercontent.com/1880412/41433741-71960532-6fdf-11e8-9544-a12680c8e9ba.png)

[2018-06-14 20:11] ross-spencer commented on #355
If the location is configured as follows:

![image](https://user-images.githubusercontent.com/1880412/41435587-f149257a-6fe4-11e8-9b3f-bec7eda9338e.png)

Then a request is sent to Dataverse which looks something like the following:
[code]
The query string is incorrect and naively should be stripped of the `/var/archivematica/storage_service/dataverse/space/`

That being said, the use of this field

[2018-06-14 20:18] ross-spencer commented on #355
From the docs, confirmation about how this feature is expected to work up to and including `0.11.x`:
[code]

[2018-06-14 20:18] ross-spencer opened #377 "Problem: Dataverse docs need updating"
Dataverse documentation needs to be updated with the latest OCUL developments on release, or slightly prior to.

Dataverse guidelines here: https://www.archivematica.org/en/docs/storage-service-0.11/administrators/#dataverse

Related to: https://github.com/artefactual/archivematica-storage-service/issues/355

[2018-06-14 23:52] sevein commented on #312
Let's try to use the new `async` module.

[2018-06-15 14:34] ross-spencer commented on #355
Further to the comment above regarding number of expected results, we need to modify expectations. The Storage Service will only query those marked as 'dataset' and as you can see in this image, we only expect to see three if we filter by `Archivematica`:

![image](https://user-images.githubusercontent.com/1880412/41473484-089a55ec-707f-11e8-8a3f-f239787cff42.png)

It is likely we will need to rai

[2018-06-15 14:48] ross-spencer commented on #355
This should be resolved with 44775cc

![image](https://user-images.githubusercontent.com/1880412/41474247-21c08440-7081-11e8-8fb9-678ae908d087.png)

[2018-06-15 14:54] ross-spencer commented on #355
Yep, this is looking good. If you change location to 'ECM' (at time of writing only one dataset in Dataverse) you will see only one result returned in the Transfer Browser:

![image](https://user-images.githubusercontent.com/1880412/41474627-19ee744c-7082-11e8-81f9-9b77e4c4e4d4.png)

To verify:

![image](https://user-images.githubusercontent.com/1880412/41474638-22519060-7082-11e8-90f8-6b264849a63

[2018-06-15 22:28] joel-simpson commented on #355
Have tested this with a few variations today. I agree this is now working as per the documentation from the POC... you can use the "path" field in the Location to set one value for the parameter `q` (e.g. Archivematica, or ECM, as shown above) and it works as expected.

The challenge is that OCUL have created a number of datasets within an "Archivematica Dataverse" (one that is below "root Dataver

[2018-06-16 19:50] ross-spencer commented on #355
Hi @joel-simpson

An alternative/work-around for now might be to do something like this:
[code]
The query is provided in whole in the 'Relative Path' on the locations form. It is then pulled apart and converted to JSON parameters to provide to the Dataverse API.

The challenge here is validating the sting and making sure it is sensible. User's would need to add features such as `per_page` or `sort

[2018-06-18 15:43] joel-simpson commented on #355
That workaround sounds like a good suggestion to me @ross-spencer. It would enable the POC to show all datasets in a particular dataverse, which feels more logical / less hacky than restricting datasets to one arbitrary search parameter (i.e. q="Archivematica" or "ECM"). And it sounds like it would give flexibility on per page and sort options, which would be great as the number of test datasets g

[2018-06-18 20:27] sevein commented on #345
We're going to add the version requirement in osdeps - the idea is to add a constraint with the minimum version selection, e.g. in this particular case, `version=3.1.1`.

[2018-06-19 06:22] sevein commented on #201
It looks like this problem was already fixed in v0.11.0 - see https://github.com/artefactual/archivematica-storage-service/commit/66a8036bc4ee59e93efd013d116b9f5cae5bad50.

Should we change the milestone?

[2018-06-20 02:25] ross-spencer opened #380 "Problem: Search flexibility needs expanding for Dataverse"
Issue #355 discusses an issue with filtering Dataverse searches ([here](https://github.com/artefactual/archivematica-storage-service/issues/355#issuecomment-397835304)). There is a short-term workaround proposed which would take a short number of hours to correct, but it might not be the most appropriate solution for a more thorough solution to ingest of Dataverse material. The most appropriate ap

[2018-06-20 03:54] jrwdunham opened #381 "Problem: package create async fails with authentication error"
**Warning**: this may be an artifact of a fault in my dev system and not a true bug.

Bug seen on a SS qa/0.x (d59682011e193208e16faa0eaa14c0c57824d040) AM qa/1.x (e9f1e89277eac5489a9b3adccf2580236bda6aac) deploy.

The "Store the AIP" micro-service fails in its POST HTTP request to api/v2/file/async/ with this warning

    WARNING   2018-06-19 23:29:27,751  archivematica.mcp.client.storeAIP:store_

[2018-06-20 04:29] jrwdunham commented on #381
This may be related to the similar authentication error that is raised when I call `make bootstrap` in the Docker Compose deploy environment. The call to

    docker-compose run \
		--rm \
		--entrypoint /src/dashboard/src/manage.py \
			archivematica-dashboard \
				install \
					--username="test" \
					--password="test" \
					--email="test@test.com" \
					--org-name="test" \
					--org-id="t

[2018-06-20 04:35] jrwdunham commented on #381
To re-create:

1. Use the docker-compose deploy strategy to build an AM/SS instance using SS at qa/0.x (d596820) and AM at qa/1.x (e9f1e89277eac5489a9b3adccf2580236bda6aac).
2. Set the default processing config as in the screenshot below.
3. Initiate a transfer on TestTransfers/small/ of AM-sampledata.
4. Expect a failure in microservice **Store the AIP**.

<img width="1440" alt="ss-issue-381-proc

[2018-06-20 05:37] jrwdunham commented on #381
@sevein @ross-spencer It turns out that the true culprit was https://github.com/artefactual-labs/am/issues/56. The SS user created by the Docker Compose Makefile needs to be a superuser or else it lacks authorization to execute make state-changing API calls.

[2018-06-20 05:37] #381 closed, assigned to jrwdunham

[2018-06-20 13:47] joel-simpson opened #382 "Problem: Searching Dataverse restricted to general query parameter"
The Storage Service integration to Dataverse uses information stored in the Location to query Dataverse using the Dataverse Search API. The details are documented here: https://www.archivematica.org/en/docs/storage-service-0.11/administrators/#dataverse

The “relative path” field for the Storage Service location is used for the “q” parameter (as described in the API documentation here: http://guid

[2018-06-20 18:29] jrwdunham commented on #317
Closing this because it should be in the Archivematica repo. See the following two issues instead:

- https://github.com/artefactual/archivematica/issues/1150
- https://github.com/artefactual/archivematica/issues/1151

[2018-06-20 18:29] #317 closed, assigned to jrwdunham

[2018-06-20 19:35] joel-simpson commented on #382
Closing this issue as it is a duplicate of #380

[2018-06-20 19:35] #382 closed, assigned to nobody

[2018-06-20 19:37] joel-simpson commented on #380
Some further background info and considerations:
The Storage Service integration to Dataverse uses information stored in the Location to query Dataverse using the Dataverse Search API. The details are documented here: https://www.archivematica.org/en/docs/storage-service-0.11/administrators/#dataverse

The “relative path” field for the Storage Service location is used for the “q” parameter (as des

[2018-06-21 00:39] sevein commented on #312
Question: if #383 is merged how do you think we should update the docs? Should we make a distinction between SS v0.11 and SS v0.12 or should we just update archivematica-docs's branch 1.8 and assume there that the user is using SS v0.12?

[2018-06-25 02:55] ross-spencer commented on #363
Related, the viewer does not list datasets as `DRAFT` when they have been set to `DRAFT`. https://github.com/artefactual/archivematica/issues/1161#issuecomment-399812109

[2018-06-27 20:33] sevein opened #384 "Problem: Docker image was updated to stretch"
This is similar to https://github.com/artefactual/archivematica/issues/1124.

We want to make sure that we stick with jessie until we have time to consider the upgrade.

[2018-06-28 22:01] nickwilkinson commented on #314
![](https://github.trello.services/images/mini-trello-icon.png) [Columbia: Phase 2](https://trello.com/c/KCIoHnmo/7-columbia-phase-2)

[2018-06-28 22:02] nickwilkinson commented on #375
![](https://github.trello.services/images/mini-trello-icon.png) [Jisc RDSS](https://trello.com/c/LGTIS5UR/9-jisc-rdss)

[2018-06-28 22:03] nickwilkinson commented on #374
![](https://github.trello.services/images/mini-trello-icon.png) [Jisc RDSS](https://trello.com/c/LGTIS5UR/9-jisc-rdss)

[2018-06-28 22:03] nickwilkinson commented on #358
![](https://github.trello.services/images/mini-trello-icon.png) [Jisc RDSS](https://trello.com/c/LGTIS5UR/9-jisc-rdss)

[2018-06-28 22:04] nickwilkinson commented on #339
![](https://github.trello.services/images/mini-trello-icon.png) [Jisc RDSS](https://trello.com/c/LGTIS5UR/9-jisc-rdss)

[2018-06-28 22:04] nickwilkinson commented on #331
![](https://github.trello.services/images/mini-trello-icon.png) [Jisc RDSS](https://trello.com/c/LGTIS5UR/9-jisc-rdss)

[2018-06-28 22:04] nickwilkinson commented on #367
![](https://github.trello.services/images/mini-trello-icon.png) [Jisc RDSS](https://trello.com/c/LGTIS5UR/9-jisc-rdss)

[2018-06-29 00:36] jrwdunham opened #387 "Problem: referential integrity in db may be breakable with SQLite"
On a certain client's SS deploy which uses SQLite, a Pipeline row was somehow deleted even though a Package row was still referencing it as its origin pipeline. This should not be possible via Django/GUI, although the SQLite CLI will not prevent it. Tests should be performed to determine whether API calls or GUI actions can break referential integrity.

This post may be relevant: https://stackover

[2018-06-29 19:49] jrwdunham opened #389 "Problem: get package metadata endpoint needs pagination"
A request of the form `GET /api/v2/file/metadata/` will load all of the File model instances belonging to a package into memory and serialize the resulting list to JSON and return that JSON in the response. For large AIPs this will inevitably cause timeouts for clients. This "metadata" (array of File objects) should be paginated.

Better yet, it should be accomplished by filtering for the SIP usin

[2018-07-02 18:34] jrwdunham opened #390 "Problem: deleted packages have "request deletion" buttons"
This makes no sense. Actually all of the buttons/links in the packages table of the Storage Service make no sense in the context of a deleted AIP (package).

- Download
- Re-ingest
- Request Deletion
- Pointer File

[2018-07-02 20:16] jrwdunham commented on #387
## Experimental results: Referential Integrity

- The SS GUI will prevent a user from deleting a pipeline that is the origin of one or more packages; see storage_service/locations/views.py.
- The Django shell will allow such a deletion and all related packages (and locations) will be deleted as well (cascade).
- The MySQL CLI will prevent the deletion, a foreign key constraint will fail.
- The SQL

[2018-07-02 20:20] jrwdunham commented on #387
@jhsimpson @sevein @scollazo hoping one of you might have time to read the above and give input on what, if anything, you think can/should be done. @scollazo this is related to internal RM 12176.

The solution may just be to use MySQL for the SS db in future deploys.

My concern is that somehow a client got their SS db into a broken state, and that the SQLite CLI was the tool used. Maybe enabling

[2018-07-04 20:58] sevein commented on #312
To test this we need to create a space of type "FEDORA via SWORD2". See https://wiki.archivematica.org/Storage_Service#FEDORA_Deposit for more details.

The deposits should work regardless the value used in the configuration attribute `SS_GUNICORN_WORKER_CLASS`. In fact this configuration attribute has been removed.

[2018-07-04 21:31] sevein commented on #358
For QA: I found this bug when processing one of the DSpace transfers found in https://github.com/artefactual/archivematica-sampledata/tree/master/SampleTransfers/DSpaceExport. If you can produce AIPs from those then I think this issue can be closed.

[2018-07-05 16:50] sevein commented on #387
FWIW, Django didn't start using SQLite foreign key constraints until Django v2.0.
See https://github.com/django/django/commit/169c3b3e07829d9ffa409b6eb5c1094d8ef918a8.

I would just advise users not to use the CLI unless they know what they're doing. A better solution IMO is to use the shell at all times which also ensures other guarantees like signal callbacks are being processed, etc.

[2018-07-05 17:05] sevein commented on #387
@jrwdunham ok I didn't read carefully.
Should we add the pragma manually when we establish the connection?
I've found this example that uses signals: https://stackoverflow.com/a/6843199.

[2018-07-05 17:52] jrwdunham commented on #387
I am closing this issue. Developers and sysadmins should not use the SQLite CLI to modify the database unless they are very careful. It is too easy to break referential integrity with SQLite but putting safeguards in place to make the SQLite CLI more safe is not worth the effort.

[2018-07-05 17:52] #387 closed, assigned to jrwdunham

[2018-07-11 22:07] jrwdunham opened #391 "Problem: packages cannot be stored in DSpace via its REST API"
The [current DSpace space](https://github.com/artefactual/archivematica-storage-service/blob/stable/0.11.x/storage_service/locations/models/dspace.py) makes requests to DSpace using the SWORD2 protocol. Some users of Archivematica (the Storage Service) need to make use of the DSpace REST API.

[2018-07-12 18:31] sromkey opened #392 "Problem: updates needed to reflect new issue filing process"
The contributing.md needs to be updated to reflect how we want issues filed in the new repo, as well as an issue template encouraging the use of the new repo.

[2018-07-12 20:21] sromkey commented on #392
Closed by #393

Also cherry-picked to qa/0.x

[2018-07-12 20:21] #392 closed, assigned to sromkey

[2018-07-17 10:17] sallain commented on #373
@jrwdunham We've implemented the above - there's now a "Verified" column where merged and QA'd issues can sit until they've been released. Once an issue is in a release, it can be moved to the Done column, where it will disappear in 30 days. This should resolve the issue!

[2018-07-18 15:06] sromkey commented on #286
I believe @currmie is testing and documenting this.

[2018-07-18 20:56] sromkey commented on #358
Tested the DSpace sample and was able to create/store an AIP without issue.

[2018-07-20 19:16] currmie commented on #286
@sevein @sromkey - yep, I'm on it;  see 185 in archivematica-docs for corresponding doc issue

[2018-07-25 05:51] currmie commented on #384
Verified-- I was able to do a manual install, build,and deploy successfully.

[2018-07-25 06:07] currmie commented on #286
Feedback for @sevein:
-I was able to manually install latest AM using packages on Ubuntu 16.04.
-During post-install configuration, I was able to bring up the Storage Service on port 8000.
-Made sure that I emptied cache and did a hard reload in browser; result upon loading storage service IP address in local development setup = Log in to Storage Service portal. Strange thing is that it's still re

[2018-07-25 16:25] sevein commented on #286
Maybe what's confusing is that our development environment is creating the same user so it's hard tell where is it coming from. See:

https://github.com/artefactual-labs/am/blob/f3e51ee2d9fa46ef6b921fa46f6884611228ad52/compose/Makefile#L33-L42

One possible way to confirm that this is working is to locally update the `Makefile` linked above with updated parameters for the `create_user` command, i.

[2018-07-25 17:10] joel-simpson commented on #339
This is connected to #342 (already shown in Github but not appearing in Waffle for some reason?)
I have tested creating many AIPS now of several types (standard vs. Bag, vs. Zipped Bag etc.; compressed and uncompressed). I have confirmed the AIPs can be searched for in Archival Storage Tab, or found by browsing in the Storage Service. confirmed the AIPs can be downloaded and opened. Pointer files

[2018-07-25 21:27] currmie commented on #286
Thanks @sevein! I will give this a shot and ping you if I run into a problem.

[2018-07-25 21:38] sromkey commented on #384
Re-opened just for waffle purposes

[2018-07-27 22:25] sromkey commented on #345
We need to make this package available in our repos so that it's included in Ubuntu and CentOS installations. I'm changing the assignee to @scollazo for now.

[2018-07-28 15:17] jhsimpson commented on #345
I think this issue should not be in scope for the 1.7.2 or future releases.

Centos 7 provides rsync 3.1.2
https://centos.pkgs.org/7/centos-x86_64/rsync-3.1.2-4.el7.x86_64.rpm.html

Ubuntu 16.04 provided rsync 3.1.1 https://packages.ubuntu.com/xenial/rsync

Only Ubuntu 14.04 does not have a version of rsync above 3.10 available.

I don't think Archivematica 1.7.2 or higher should officially suppor

[2018-07-28 23:19] currmie commented on #286
Hi @sevein  ! Latest info. on QA/testing...

Per your instructions, I am able to to confirm that SS does not have a test user when I list the users in the Admin page.

However,  I cannot  login onto the development environment as  user 'foobar'  after I updated the Makefile and bootstrapped the environment again with make bootstrap and make restart-am-services.

Seems like this is the expected beh

[2018-07-28 23:53] currmie commented on #312
Hi  @sevein , has someone already created a space of type "FEDORA via SWORD2" that I could use for QA/testing?

[2018-07-29 19:07] sevein commented on #286
We created the `foobar` user in SS.
Dashboard is still using `test` unless you change that too, here:

https://github.com/artefactual-labs/am/blob/f3e51ee2d9fa46ef6b921fa46f6884611228ad52/compose/Makefile#L82-L85

So yeah I think you've verified that it's working!

[2018-07-29 19:09] sevein commented on #312
@currmie this is a tough one because we don't have an environment for this. It's possible that the client has one. Perhaps @dcraze or @sromkey can help you.

[2018-07-30 13:59] dcraze commented on #312
@currmie This is a COPPUL customer so they do not have a test environment.  @sevein @sromkey Not sure what it would take to create a test environment?

[2018-07-31 21:11] sromkey commented on #312
We discussed this and we're not able to set up the correct test environment. We've moved it to verified but can re-open if anything comes up in other deployments.

[2018-07-31 21:17] joel-simpson commented on #367
I tested creating locations of several types (backlog, transfer source, AIP Storage). I also created the actual directories and then using those locations (e.g. to start a transfer, and to store an AIP).
I tested setting locations with default = true and default = false.
All worked as expected.

[2018-08-03 14:32] ross-spencer commented on #380
Looking through the Storage-service code today I'm reminded that paging is difficult with the combination of SS model and transfer browser right now, the search query looking like:
[code]

[2018-08-03 15:56] joel-simpson commented on #365
I have been testing Pointer file creation, and generation of the checksum in particular as a way of regression testing the fix for this issue. I haven't been able to verify that the extra 'move' operation has gone away.

To test, I have been creating and storing an AIP, then downloading the AIP and running sha256sum to generate a checksum for the AIP. I then compare the value of this checksum agai

[2018-08-07 19:25] joel-simpson commented on #380
The solution introduced by #398 appears to me to satisfy the requirements of the SP team - which is to be able to show only datasets from the 'Archivematica' dataverse (by setting the subtree parameter in the SS location).

[2018-08-07 19:26] joel-simpson commented on #352
Have tested this in our dataverse QA environment and it is looking good to me!

[2018-08-07 19:28] joel-simpson commented on #355
Have tested this in our Dataverse QA environment and it looks good to me. The solution implemented allows us to restrict to a particular dataverse while retaining the ability to use a general search parameter (the "q" parameter in the dataverse API).

[2018-08-08 21:44] joel-simpson commented on #324
Adding some context and additional detail following a brief discussion with @sromkey.... one of the reasons uncompressed AIPS did not have pointer files was due to a limitation in earlier versions of PREMIS, where you could only describe a bitstream, but not an intellectual entity. PREMIS 3 now allows for description of intellectual entity.

I would add a further motivation for this fix... simple

[2018-08-08 21:46] joel-simpson commented on #365
Finished testing this using AM 1.7.1 with SS qa/1.x. Verified reingested AIP stored on S3 (non-local filesystem).
Uncompressed AIPS don't have pointer files so those test cases aren't valid.
Moving this to 'verified'.

[2018-08-14 16:22] joel-simpson commented on #314
To test the fix to this issue, we have been carrying out a number of basic regression tests - i.e. creating AIPs and storing them, reingesting AIPS etc. In an ideal world we would be verifying that in each of these cases the datasets have only been copied once. In practice, this is very hard to validate, and so we are relying on previous tests done during code review (which did confirm this) and o

[2018-08-20 13:29] #363 closed, assigned to nobody

[2018-08-20 13:31] ross-spencer commented on #362
Closing as there isn't a current need to change our approach here.

[2018-08-20 13:31] #362 closed, assigned to nobody

[2018-08-20 13:34] ross-spencer commented on #356
Closed in favor of: https://github.com/archivematica/Issues/issues/106

[2018-08-20 13:34] #356 closed, assigned to nobody

[2018-09-10 19:59] joel-simpson commented on #377
there are a few other areas where documentation is required. I think the full list is:

**Wiki**
https://wiki.archivematica.org/Dataverse
- updated with overview of workflow, gherkin etc.
- largely done but section on METs may need to be updated

**Archivematica Documentation:**
1) Installation - Integrations page: https://www.archivematica.org/en/docs/archivematica-1.8/admin-manual/installation-s

[2018-09-11 17:58] sromkey commented on #314
Connected to #320

[2018-09-12 18:28] #201 closed, assigned to sromkey

[2018-09-12 18:28] #314 closed, assigned to sromkey, joel-simpson

[2018-09-12 18:28] #312 closed, assigned to jraddaoui

[2018-09-12 18:28] #375 closed, assigned to joel-simpson

[2018-09-12 18:28] #286 closed, assigned to sevein, currmie

[2018-09-12 18:28] #365 closed, assigned to sromkey, joel-simpson

[2018-09-12 18:28] #384 closed, assigned to sevein

[2018-09-12 18:28] #367 closed, assigned to nobody

[2018-09-12 18:28] #374 closed, assigned to joel-simpson

[2018-09-12 18:28] #331 closed, assigned to jrwdunham

[2018-09-12 18:28] #358 closed, assigned to sevein, sromkey

[2018-09-12 18:28] #325 closed, assigned to ablwr

[2018-09-12 18:28] #373 closed, assigned to nobody

[2018-09-12 18:28] #371 closed, assigned to nobody

[2018-09-12 18:29] #332 closed, assigned to nobody

[2018-09-12 18:29] #339 closed, assigned to joel-simpson

[2018-09-26 21:33] joel-simpson commented on #377
The dataverse docs were updated with https://github.com/artefactual/archivematica-storage-service-docs/pull/10
(not sure why that PR is not showing as connected in Waffle, it should be).
also
https://github.com/artefactual/archivematica-docs/pull/201
These were both reviewed and approved by Sara and Ross so no need for further QA. I'm moving this issue to verified.

[2018-10-15 22:31] peterVG commented on #355
Tested this successfully by setting the "Locations" query value to "drinks":

![screen shot 2018-10-15 at 15 21 36](https://user-images.githubusercontent.com/672121/46981815-ca229e80-d08e-11e8-9810-485e99a04e50.png)

This limited the Dataverse transfer options to relevant "hits" in the metadata of two Dataverse datasets:

![screen shot 2018-10-15 at 15 21 52](https://user-images.githubusercontent.

[2018-10-18 05:12] currmie commented on #391
Verified. Also, see https://github.com/artefactual/archivematica-storage-service-docs/pull/12 for corresponding SS documentation updates.

[2018-10-18 19:37] peterVG commented on #380
Verified that the "show only datasets from the 'Archivematica' dataverse (by setting the subtree parameter in the SS location)" option is working on AM 18x.qa Xenial.

![screen shot 2018-10-18 at 12 52 52](https://user-images.githubusercontent.com/672121/47180350-40b0dd80-d2d5-11e8-842e-04babbd1e56d.png)

We put a common keyword into the title (Subtree) of all of our test datasets (e.g. "Archivema

[2018-11-05 10:09] federicolucca opened #427 "Files array in /api/v2/file/<UUID>/contents/ empty"
Goodmorning
I'm trying to get the list of the files in a package AIP/DIP throw this API  /api/v2/file/<UUID>/contents/ .
All the times return empty the array of files. Why? i created package with many files,i sure about that

Federico

[2018-11-22 16:05] #380 closed, assigned to peterVG, sromkey

[2018-11-22 16:06] #355 closed, assigned to peterVG, sromkey

[2018-11-22 16:09] #352 closed, assigned to sromkey

[2018-11-22 16:12] #377 closed, assigned to joel-simpson

[2018-11-22 16:13] #391 closed, assigned to currmie

[2018-12-12 22:18] ross-spencer commented on #427
Hi there Federico,

This is a great question. I actually just researched it recently, and had to log an issue as it doesn't seem to function as expected for all Storage Service locations: https://github.com/archivematica/Issues/issues/342

More information here: https://groups.google.com/d/msg/archivematica/SZyinU3Kq9U/Xkv7ZbxDAQAJ

I'll close this issue now in favor of the one on our [issues](htt

[2018-12-12 22:18] #427 closed, assigned to nobody

[2018-12-14 09:09] ross-spencer commented on #343
Closing now I have a little more knowledge of what is happening here. There's a conversation in the Google Group as well. https://groups.google.com/forum/#!searchin/archivematica/delete%7Csort:date/archivematica/_R9beyVP6uo/AkvZAL7bBgAJ If this does become something we want to revisit, the conversation can continue in https://github.com/archivematica/Issues/issues

[2018-12-14 09:09] #343 closed, assigned to nobody

[2018-12-17 09:02] ross-spencer commented on #182
Hi @sevein. Migration in this ticket, is it migration of packages, or the Django model?

[2018-12-17 16:20] sevein commented on #182
I meant Django's `migrate`. Closing as it was superseded by https://github.com/artefactual/archivematica-storage-service/commit/2976d2526ddb3e680eeaca80b04c8dc5f80f8b0f fixed in v0.12.0.

[2018-12-17 16:20] #182 closed, assigned to sevein

[2018-12-19 00:06] sevein commented on #319
We've agreed to implement it as follows:

[2019-01-08 18:24] sevein commented on #319
For QA, the delete dip button appears in the package list of the Storage Service. The workflow is a bit different from AIP deletion. In this case, a dialog appears requesting the user to confirm the removal of the package.

[2019-03-06 20:00] #319 closed, assigned to peterVG

[2019-03-15 20:45] sevein commented on #295
Fixed in:
- AM: https://github.com/artefactual/archivematica/commit/71bdb5d74e437edd34f10173d203d0370b403df6
- SS: https://github.com/artefactual/archivematica-storage-service/commit/2820417e7eb0c75d8967bc756ba63a3c3f4793b0
- Compose: https://github.com/artefactual-labs/am/commit/1ef43a43ddf21268ccbb223f7ad43025f485875b

[2019-03-15 20:45] #295 closed, assigned to nobody

[2019-05-28 22:58] joel-simpson commented on #270
@sromkey I tagged this with the triage-release-1.10 label because it was fixed for a client project (NHA) and PR has been completed, so better to have this merged sooner rather than later.

[2019-06-13 21:11] cole commented on #270
After discussion, this isn't quite true for validation events, as the validation events are in the pointer files for the replica AIPs. The behaviour we want (I think) is:
1. The original pointer file should contain one replication event per replica
2. Each replica should contain one validation event
3. Replica pointer files don't contain replication events, creation is used instead.

[2019-06-14 11:31] ross-spencer commented on #376
@scollazo I was just taking a brief look at this today out of curiosity. I wonder if it was related to, or at least resolved by https://github.com/artefactual/archivematica-storage-service/pull/460 as it seems to have been resolved in the latest storage service commits from a brief test. What do you reckon?

[2019-06-14 11:59] ross-spencer commented on #237
:tada: Adding `1.10` as this seems resolved by https://github.com/artefactual/archivematica-storage-service/commit/a8c7b7827d1e8082839ebba8b74f296cfc1e7fc0#diff-5f2ead45b8622f27e9b0bf6333334fff

[2019-06-21 17:31] joel-simpson commented on #270
The PR for this is merged so this looks like it can be moved over to 'review'... changing status now.

[2019-07-12 22:44] #237 closed, assigned to sallain

[2019-07-24 21:56] sallain commented on #270
What a weird issue.

I think this is accurate now, though I just want to confirm the acceptance criteria, @sromkey.

My storage setup has a standard AIP storage location, plus two replicator locations which are both connected to the standard location

![Screenshot of Archivematica Storage Service.jpg](https://codetreeusercontent.s3.amazonaws.com/uploads/93454c3c-1cd6-4f41-9b3d-0fa8d8897fe7/Screens

[2019-07-25 17:01] #270 closed, assigned to sallain

[2019-09-24 22:54] ross-spencer commented on #321
Tested in 1.10.

* Problem does not exist on RPM test server.
* Problem still exists in Docker deployment.

Both on `stable/1.10.x`

[2019-10-15 11:05] ross-spencer commented on #205
Closing as this ticket was somewhat duplicated later on in https://github.com/archivematica/Issues/issues/676 and later resolved via https://github.com/artefactual/archivematica-storage-service/pull/470 so all should be good now! :tada: :tada: :tada:

[2019-10-15 11:05] #205 closed, assigned to nobody

[2019-10-28 12:30] ross-spencer commented on #376
Closing as this looks resolved.

1. Selected the option to create an uncompressed AIP in the dashboard.
2. Created an uncompressed AIP.
3. Verified it had no pointer file.
4. Requested deletion in the storage service (the JS message popped up).
5. Followed-through to complete the deletion procedure.

Package was recorded as deleted in the storage service as expected.

Closing, but if it is discove

[2019-10-28 12:30] #376 closed, assigned to nobody

[2019-10-28 12:36] ross-spencer commented on #225
Related to: https://github.com/archivematica/Issues/issues/947

[2019-10-28 12:40] ross-spencer commented on #390
**NB.**  in testing #376 before closing it out, I can confirm, that this bug in #390 still exists in storage service 0.15.1.

[2019-12-19 20:29] sallain commented on #324
@ross-spencer Assigning this to you for the future - it's for 1.12, but probably needs some analysis!

[2020-03-21 02:48] ross-spencer commented on #250
Closing in favor of and updated https://github.com/archivematica/Issues/issues/1153 although if any component of this issue isn't described thoroughly enough, please do feel free to update the ticket details there.

[2020-03-21 02:48] #250 closed, assigned to nobody

[2020-07-28 20:51] tw4l commented on #344
Closed as a duplicate of https://github.com/archivematica/Issues/issues/1189, which extends this issue to transfers in the Backlog tab in addition to AIPs in Archival Storage.

This issue is fixed in PR https://github.com/artefactual/archivematica/pull/1611, which adds a checking routine to the Archival Storage tab in Archivematica that removes deleted AIPs from the `aips` index (and, consequently

[2020-07-28 20:51] #344 closed, assigned to nobody

[2021-03-22 07:47] #345 closed, assigned to scollazo

[2021-06-25 13:46] #258 closed, assigned to nobody

[2021-08-18 14:24] jens-st commented on #324
I agree with @joel-simpson, more consistency for AIPs and less confusion for dashboard users.
Clicking on Pointer file --> "View" on a previous selected AIP still results in a 404 (not found) error for the user in Archivematica 1.13.0.

`{"success": false, "message": "Storage service returned 404; check logs?"}`